# Libraries

In [93]:
# Core Libraries 
import pandas as pd
import numpy as np
import requests

# For Pattern
import re

* Libraries Version

In [94]:
print(f"Pandas Version: {pd.__version__} \n ----")
print(f"Numpy Version: {np.__version__}\n ----")
print(f"Re Version: {re.__version__}\n ----")
print(f"Requests Version: {requests.__version__}")

Pandas Version: 2.2.0
 ----
Numpy Version: 1.26.3
 ----
Re Version: 2.2.1
 ----
Requests Version: 2.31.0

# Alpha Vantage Data Set

!! Please Before the run, receive your api key form website and setup api key inside of .env file

[AlphaVantage Website](https://www.alphavantage.co/documentation/)

* Also, you can check Api Key Requests

## API KEY Configuration

* API keys hidden for security !!!

In [95]:
#for Api Key --- AlphaVantage Api Key  (https://www.alphavantage.co/)
from dotenv import load_dotenv
import os

def configure():
    load_dotenv()

**Company Information**

In [96]:
# IBM = International Business Machines Corporation
Company_info_url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol=IBM&apikey={os.getenv("Alphavantage_key")}'
r_info = requests.get(Company_info_url)

IBM = r_info.json()

print(IBM)

{'Symbol': 'IBM', 'AssetType': 'Common Stock', 'Name': 'International Business Machines', 'Description': 'International Business Machines Corporation (IBM) is an American multinational technology company headquartered in Armonk, New York, with operations in over 170 countries. The company began in 1911, founded in Endicott, New York, as the Computing-Tabulating-Recording Company (CTR) and was renamed International Business Machines in 1924. IBM is incorporated in New York. IBM produces and sells computer hardware, middleware and software, and provides hosting and consulting services in areas ranging from mainframe computers to nanotechnology. IBM is also a major research organization, holding the record for most annual U.S. patents generated by a business (as of 2020) for 28 consecutive years. Inventions by IBM include the automated teller machine (ATM), the floppy disk, the hard disk drive, the magnetic stripe card, the relational database, the SQL programming language, the UPC barcode, and dynamic random-access memory (DRAM). The IBM mainframe, exemplified by the System/360, was the dominant computing platform during the 1960s and 1970s.', 'CIK': '51143', 'Exchange': 'NYSE', 'Currency': 'USD', 'Country': 'USA', 'Sector': 'TECHNOLOGY', 'Industry': 'COMPUTER & OFFICE EQUIPMENT', 'Address': '1 NEW ORCHARD ROAD, ARMONK, NY, US', 'FiscalYearEnd': 'December', 'LatestQuarter': '2023-12-31', 'MarketCapitalization': '180177060000', 'EBITDA': '14291000000', 'PERatio': '24.09', 'PEGRatio': '4.537', 'BookValue': '24.63', 'DividendPerShare': '6.63', 'DividendYield': '0.0338', 'EPS': '8.16', 'RevenuePerShareTTM': '67.89', 'ProfitMargin': '0.121', 'OperatingMarginTTM': '0.232', 'ReturnOnAssetsTTM': '0.0471', 'ReturnOnEquityTTM': '0.337', 'RevenueTTM': '61860000000', 'GrossProfitTTM': '32688000000', 'DilutedEPSTTM': '8.16', 'QuarterlyEarningsGrowthYOY': '0.2', 'QuarterlyRevenueGrowthYOY': '0.041', 'AnalystTargetPrice': '182.16', 'AnalystRatingStrongBuy': '4', 'AnalystRatingBuy': '3', 'AnalystRatingHold': '10', 'AnalystRatingSell': '3', 'AnalystRatingStrongSell': '0', 'TrailingPE': '24.09', 'ForwardPE': '19.57', 'PriceToSalesRatioTTM': '2.913', 'PriceToBookRatio': '8.0', 'EVToRevenue': '3.664', 'EVToEBITDA': '15.43', 'Beta': '0.708', '52WeekHigh': '198.73', '52WeekLow': '116.32', '50DayMovingAverage': '177.9', '200DayMovingAverage': '152.16', 'SharesOutstanding': '916745000', 'DividendDate': '2024-03-09', 'ExDividendDate': '2024-02-08'}

Data Frame of Companies Information

In [97]:
df = pd.DataFrame(IBM.keys())
df.rename(columns={0:"Title"},inplace= True)

words = df["Title"]

words_list = []

for i in range(0,len(words)):
    list_words = words[i]

    pattern = "[A-Z][^A-Z]*"

    x = re.findall(pattern, list_words)
    x_new = " ".join(x).title()
    words_list.append(x_new)

df["Title"] = words_list
df.rename(columns={"index":"Title"}, inplace= True)


values = pd.DataFrame(IBM.values())

df["Values"] = values
df

,Title,Values
0,Symbol,IBM
1,Asset Type,Common Stock
2,Name,International Business Machines
3,Description,International Business Machines Corporation (I...
4,C I K,51143
5,Exchange,NYSE
6,Currency,USD
7,Country,USA
8,Sector,TECHNOLOGY
9,Industry,COMPUTER & OFFICE EQUIPMENT
10,Address,"1 NEW ORCHARD ROAD, ARMONK, NY, US"
11,Fiscal Year End,December
12,Latest Quarter,2023-12-31
13,Market Capitalization,180177060000
14,E B I T D A,14291000000
15,P E Ratio,24.09
16,P E G Ratio,4.537
17,Book Value,24.63
18,Dividend Per Share,6.63
19,Dividend Yield,0.0338
20,E P S,8.16
21,Revenue Per Share T T M,67.89
22,Profit Margin,0.121
23,Operating Margin T T M,0.232
24,Return On Assets T T M,0.0471
25,Return On Equity T T M,0.337
26,Revenue T T M,61860000000
27,Gross Profit T T M,32688000000
28,Diluted E P S T T M,8.16
29,Quarterly Earnings Growth Y O Y,0.2
30,Quarterly Revenue Growth Y O Y,0.041
31,Analyst Target Price,182.16
32,Analyst Rating Strong Buy,4
33,Analyst Rating Buy,3
34,Analyst Rating Hold,10
35,Analyst Rating Sell,3
36,Analyst Rating Strong Sell,0
37,Trailing P E,24.09
38,Forward P E,19.57
39,Price To Sales Ratio T T M,2.913
40,Price To Book Ratio,8.0
41,E V To Revenue,3.664
42,E V To E B I T D A,15.43
43,Beta,0.708
44,Week High,198.73
45,Week Low,116.32
46,Day Moving Average,177.9
47,Day Moving Average,152.16
48,Shares Outstanding,916745000
49,Dividend Date,2024-03-09
50,Ex Dividend Date,2024-02-08

**Company News**

In [98]:
# BA = The Boeing Company

Company_news_url = f'https://www.alphavantage.co/query?function=NEWS_SENTIMENT&tickers=BA&apikey={os.getenv("Alphavantage_key")}'
r_news = requests.get(Company_news_url)
BA = r_news.json()

news = pd.DataFrame(BA.get("feed"))

newsx = news[["title","url"]]
newsx.columns = ["News","News_Url"] 
newsx.head()

,News,News_Url
0,"How an airplane toilet works at 40,000 feet: T...",https://www.cnn.com/2024/03/09/travel/how-plan...
1,StockNews.com Upgrades Alaska Air Group ( NYS...,https://www.defenseworld.net/2024/03/09/stockn...
2,United Airlines' plane veers off runway in thi...,https://www.business-standard.com/companies/ne...
3,Is General Electric Stock Going to $180? 1 Wal...,https://www.fool.com/investing/2024/03/08/is-g...
4,Mexico-bound plane lands in LA in 4th emergenc...,https://apnews.com/article/united-airlines-los...

## Alpha Vantage Financial Statements

1. FS[0] = Income Statement

2. FS[1] = Balance Sheet

3. FS[2] = Cashflow

In [128]:

FS = ["INCOME_STATEMENT","BALANCE_SHEET","CASH_FLOW"]   # Financial Statements

data = []
IS = {}                                                 # Income Statements
BS = {}                                                 # Balance Sheet
CF = {}                                                 # Cash Flow


for i in FS:
    url = f'https://www.alphavantage.co/query?function={i}&symbol=IBM&apikey={os.getenv("Alphavantage_key")}'
    r = requests.get(url)
    data.append(r.json())

    data_df = pd.DataFrame(data)
    
    df = {}
    for i in np.arange(0, len(data_df)):
        df[i] = data_df.iloc[i].get("annualReports")

In [129]:
IS = pd.DataFrame(df[0]).T.reset_index()
BS = pd.DataFrame(df[1]).T.reset_index()
CF = pd.DataFrame(df[2]).T.reset_index()

FS = [IS,BS,CF]     # Combine all statements to one frame

In [111]:
IS_fiscal_Date = IS.iloc[0].to_list()
BS_fiscal_Date = BS.iloc[0].to_list()
CF_fiscal_Date = CF.iloc[0].to_list()

IS_index = IS.iloc[1].to_list()
BS_index = BS.iloc[1].to_list()
CF_index = CF.iloc[1].to_list()

FS[0].loc[1] = IS_index
FS[1].loc[1] = BS_index
FS[2].loc[1] = CF_index

In [113]:
FS_pattern = []

for i in np.arange(0, len(FS)):             # Removing unusefull words
    FS[i].replace("None",0,inplace = True)
    FS[i].fillna(0)

    FS[i].copy
    FS[i].loc[2:,[0,1,2,3,4]] = FS[i].loc[2:,[0,1,2,3,4]].astype("float64")
    
    FS_pattern.append(FS[i]["index"])

In [114]:
FS_pattern[0][1] = "reportedCurrency"
FS_pattern[0]

0                      fiscalDateEnding
1                      reportedCurrency
2                           grossProfit
3                          totalRevenue
4                         costOfRevenue
5            costofGoodsAndServicesSold
6                       operatingIncome
7       sellingGeneralAndAdministrative
8                researchAndDevelopment
9                     operatingExpenses
10                  investmentIncomeNet
11                    netInterestIncome
12                       interestIncome
13                      interestExpense
14                    nonInterestIncome
15              otherNonOperatingIncome
16                         depreciation
17          depreciationAndAmortization
18                      incomeBeforeTax
19                     incomeTaxExpense
20               interestAndDebtExpense
21    netIncomeFromContinuingOperations
22          comprehensiveIncomeNetOfTax
23                                 ebit
24                               ebitda
25                            netIncome
Name: index, dtype: object

In [115]:
pattern_list = pd.DataFrame()

one = FS_pattern[0]
two = FS_pattern[1]
three = FS_pattern[2]

In [117]:
# Making Capitilazation and seperation of sentences
pattern = '[A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z][^A-Z]*'

In [118]:
FS_0_join = []
for i in np.arange(0, len(one)):
    FS_0_pattern = one[i]
    FS_0_findall = re.findall(pattern,FS_0_pattern)
    FS_0_join.append(" ".join(FS_0_findall).title())
FS[0]["index"] = FS_0_join

In [119]:
FS_1_join = []
for z in np.arange(0, len(two)):
    FS_1_pattern = two[z]
    FS_1_findall = re.findall(pattern,FS_1_pattern)
    FS_1_join.append(" ".join(FS_1_findall).title())
FS[1]["index"] = FS_1_join

In [120]:
FS_2_join = []
for q in np.arange(0, len(three)):
    FS_2_pattern = three[q]
    FS_2_findall = re.findall(pattern,FS_2_pattern)
    FS_2_join.append(" ".join(FS_2_findall).title())
FS[2]["index"] = FS_2_join

In [121]:
FS[0]

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Fiscal Date Ending,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31,2011-12-31,2010-12-31,2009-12-31
1,Reported Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,Gross Profit,34300000000.0,32687000000.0,31486000000.0,30865000000.0,31533000000.0,36936000000,36943000000,38516000000,40684000000,46407000000,48684000000,50361000000,50138000000,46014000000,43785000000
3,Total Revenue,61860000000.0,60530000000.0,57350000000.0,55179000000.0,57714000000.0,79591000000,79139000000,79919000000,81741000000,92793000000,98367000000,102874000000,106916000000,99870000000,95758000000
4,Cost Of Revenue,27560000000.0,27842000000.0,25865000000.0,24314000000.0,26181000000.0,42655000000,42196000000,41403000000,41057000000,46386000000,49683000000,52513000000,56778000000,53857000000,51973000000
5,Costof Goods And Services Sold,245000000.0,385000000.0,300000000.0,439000000.0,591000000.0,42655000000,41703000000,40580000000,40046000000,45346000000,50136000000,53122000000,55713000000,52757000000,50752000000
6,Operating Income,6979000000.0,6408000000.0,4786000000.0,4609000000.0,9004000000.0,10838000000,8813000000,9715000000,13333000000,16443000000,17075000000,16082000000,16531000000,14411000000,15792000000
7,Selling General And Administrative,19003000000.0,18609000000.0,18745000000.0,20561000000.0,18724000000.0,19366000000,19680000000,20869000000,20430000000,23180000000,23451000000,23463000000,23594000000,21837000000,20952000000
8,Research And Development,6775000000.0,6567000000.0,6488000000.0,6262000000.0,5910000000.0,5379000000,5590000000,5726000000,5247000000,5437000000,5743000000,5816000000,6258000000,6026000000,5820000000
9,Operating Expenses,27321000000.0,26279000000.0,26700000000.0,30966000000.0,27484000000.0,26098000000,27414000000,28579000000,27351000000,28429000000,31832000000,33946000000,34229000000,31166000000,28395000000
10,Investment Income Net,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
11,Net Interest Income,-1607000000.0,-1216000000.0,-1155000000.0,-1288000000.0,-1344000000.0,-723000000,-615000000,-630000000,-468000000,-484000000,-402000000,-459000000,-411000000,-368000000,-402000000
12,Interest Income,591000000.0,162000000.0,52000000.0,105000000.0,349000000.0,264000000,144000000,108000000,0,0,0,0,0,0,0
13,Interest Expense,1607000000.0,1216000000.0,1155000000.0,1288000000.0,1344000000.0,723000000,615000000,630000000,468000000,484000000,402000000,459000000,411000000,368000000,402000000
14,Non Interest Income,-77000000.0,365000000.0,337000000.0,-92000000.0,0.0,0,0,0,-71000000,1535000000,236000000,729000000,342000000,805000000,-219000000
15,Other Non Operating Income,266000000.0,443000000.0,225000000.0,156000000.0,968000000.0,-1152000000,216000000,-145000000,724000000,1938000000,327000000,843000000,20000000,787000000,351000000
16,Depreciation,2109000000.0,2407000000.0,3888000000.0,4227000000.0,4209000000.0,3127000000,3021000000,2837000000,2662000000,3145000000,3327000000,3392000000,3589000000,3657000000,3773000000
17,Depreciation And Amortization,2287000000.0,2395000000.0,2529000000.0,2468000000.0,1850000000.0,1353000000,1520000000,1544000000,1193000000,1347000000,1938000000,1829000000,1779000000,1729000000,1221000000
18,Income Before Tax,8678000000.0,1013000000.0,5867000000.0,4230000000.0,9491000000.0,11347000000,11395000000,12321000000,15771000000,16250000000,19839000000,22134000000,20997000000,19714000000,18138000000
19,Income Tax Expense,1176000000.0,-626000000.0,124000000.0,-1360000000.0,60000000.0,2619000000,5642000000,449000000,2581000000,4234000000,3363000000,5541000000,5148000000,4890000000,4713000000
20,Interest And Debt Expense,1607000000.0,1216000000.0,1155000000.0,1288000000.0,1344000000.0,723000000,615000000,630000000,468000000,484000000,402000000,459000000,411000000,368000000,402000000
21,Net Income From Continuing Operations,7514000000.0,1783000000.0,4712000000.0,3932000000.0,7146000000.0,8723000000,5758000000,11881000000,13364000000,15751000000,16483000000,16604000000,15855000000,14833000000,13425000000
22,Comprehensive Income Net Of Tax,5481000000.0,8134000000.0,10582000000.0,4850000000.0,10324000000.0,8252000000,8559000000,12081000000,11459000000,5742000000,37117000000,29324000000,17603000000,29744000000,29865000000
23,Ebit,10285000000.0,2229000000.0,7022000000.0,5518000000.0,10835000000.0,12070000000,12010000000,12951000000,16239000000,16734000000,20241000000,22593000000,21408000000,20082000000,18540000000
24,Ebitda,12572000000.0,4624000000.0,9551000000.0,7986000000.0,12685000000.0,13423000000,13530000000,14495000000,17432000000,18081000000,22179000000,24422000000,23187000000,21811000000,19761000000
25,Net Income,7502000000.0,1639000000.0,5743000000.0,5590000000.0,9431000000.0,8728000000,5753000000,11872000000,13190000000,12016000000,16476000000,16593000000,15849000000,14824000000,13425000000

In [122]:
index_names = ["INCOME STATEMENT","BALANCE SHEET","CASH FLOW"]  # Combine all clean statements to one frame

FS[0].columns = IS_fiscal_Date
FS[1].columns = BS_fiscal_Date
FS[2].columns = CF_fiscal_Date

FS[0]

,fiscalDateEnding,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31,2011-12-31,2010-12-31,2009-12-31
0,Fiscal Date Ending,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31,2011-12-31,2010-12-31,2009-12-31
1,Reported Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,Gross Profit,34300000000.0,32687000000.0,31486000000.0,30865000000.0,31533000000.0,36936000000,36943000000,38516000000,40684000000,46407000000,48684000000,50361000000,50138000000,46014000000,43785000000
3,Total Revenue,61860000000.0,60530000000.0,57350000000.0,55179000000.0,57714000000.0,79591000000,79139000000,79919000000,81741000000,92793000000,98367000000,102874000000,106916000000,99870000000,95758000000
4,Cost Of Revenue,27560000000.0,27842000000.0,25865000000.0,24314000000.0,26181000000.0,42655000000,42196000000,41403000000,41057000000,46386000000,49683000000,52513000000,56778000000,53857000000,51973000000
5,Costof Goods And Services Sold,245000000.0,385000000.0,300000000.0,439000000.0,591000000.0,42655000000,41703000000,40580000000,40046000000,45346000000,50136000000,53122000000,55713000000,52757000000,50752000000
6,Operating Income,6979000000.0,6408000000.0,4786000000.0,4609000000.0,9004000000.0,10838000000,8813000000,9715000000,13333000000,16443000000,17075000000,16082000000,16531000000,14411000000,15792000000
7,Selling General And Administrative,19003000000.0,18609000000.0,18745000000.0,20561000000.0,18724000000.0,19366000000,19680000000,20869000000,20430000000,23180000000,23451000000,23463000000,23594000000,21837000000,20952000000
8,Research And Development,6775000000.0,6567000000.0,6488000000.0,6262000000.0,5910000000.0,5379000000,5590000000,5726000000,5247000000,5437000000,5743000000,5816000000,6258000000,6026000000,5820000000
9,Operating Expenses,27321000000.0,26279000000.0,26700000000.0,30966000000.0,27484000000.0,26098000000,27414000000,28579000000,27351000000,28429000000,31832000000,33946000000,34229000000,31166000000,28395000000
10,Investment Income Net,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
11,Net Interest Income,-1607000000.0,-1216000000.0,-1155000000.0,-1288000000.0,-1344000000.0,-723000000,-615000000,-630000000,-468000000,-484000000,-402000000,-459000000,-411000000,-368000000,-402000000
12,Interest Income,591000000.0,162000000.0,52000000.0,105000000.0,349000000.0,264000000,144000000,108000000,0,0,0,0,0,0,0
13,Interest Expense,1607000000.0,1216000000.0,1155000000.0,1288000000.0,1344000000.0,723000000,615000000,630000000,468000000,484000000,402000000,459000000,411000000,368000000,402000000
14,Non Interest Income,-77000000.0,365000000.0,337000000.0,-92000000.0,0.0,0,0,0,-71000000,1535000000,236000000,729000000,342000000,805000000,-219000000
15,Other Non Operating Income,266000000.0,443000000.0,225000000.0,156000000.0,968000000.0,-1152000000,216000000,-145000000,724000000,1938000000,327000000,843000000,20000000,787000000,351000000
16,Depreciation,2109000000.0,2407000000.0,3888000000.0,4227000000.0,4209000000.0,3127000000,3021000000,2837000000,2662000000,3145000000,3327000000,3392000000,3589000000,3657000000,3773000000
17,Depreciation And Amortization,2287000000.0,2395000000.0,2529000000.0,2468000000.0,1850000000.0,1353000000,1520000000,1544000000,1193000000,1347000000,1938000000,1829000000,1779000000,1729000000,1221000000
18,Income Before Tax,8678000000.0,1013000000.0,5867000000.0,4230000000.0,9491000000.0,11347000000,11395000000,12321000000,15771000000,16250000000,19839000000,22134000000,20997000000,19714000000,18138000000
19,Income Tax Expense,1176000000.0,-626000000.0,124000000.0,-1360000000.0,60000000.0,2619000000,5642000000,449000000,2581000000,4234000000,3363000000,5541000000,5148000000,4890000000,4713000000
20,Interest And Debt Expense,1607000000.0,1216000000.0,1155000000.0,1288000000.0,1344000000.0,723000000,615000000,630000000,468000000,484000000,402000000,459000000,411000000,368000000,402000000
21,Net Income From Continuing Operations,7514000000.0,1783000000.0,4712000000.0,3932000000.0,7146000000.0,8723000000,5758000000,11881000000,13364000000,15751000000,16483000000,16604000000,15855000000,14833000000,13425000000
22,Comprehensive Income Net Of Tax,5481000000.0,8134000000.0,10582000000.0,4850000000.0,10324000000.0,8252000000,8559000000,12081000000,11459000000,5742000000,37117000000,29324000000,17603000000,29744000000,29865000000
23,Ebit,10285000000.0,2229000000.0,7022000000.0,5518000000.0,10835000000.0,12070000000,12010000000,12951000000,16239000000,16734000000,20241000000,22593000000,21408000000,20082000000,18540000000
24,Ebitda,12572000000.0,4624000000.0,9551000000.0,7986000000.0,12685000000.0,13423000000,13530000000,14495000000,17432000000,18081000000,22179000000,24422000000,23187000000,21811000000,19761000000
25,Net Income,7502000000.0,1639000000.0,5743000000.0,5590000000.0,9431000000.0,8728000000,5753000000,11872000000,13190000000,12016000000,16476000000,16593000000,15849000000,14824000000,13425000000

In [125]:
FS[0] = FS[0].drop(0)
FS[1] = FS[1].drop(0)
FS[2] = FS[2].drop(0)

,fiscalDateEnding,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31,2011-12-31,2010-12-31,2009-12-31
1,Reported Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,Operating Cashflow,13931000000.0,10435000000.0,12796000000.0,18197000000.0,14770000000.0,15247000000,16724000000,17084000000,17255000000,16868000000,17485000000,19586000000,19846000000,19549000000,20773000000
3,Payments For Operating Activities,2645000000.0,2430000000.0,2655000000.0,3406000000.0,3234000000.0,1423000000,1208000000,1158000000,995000000,1061000000,1012000000,1009000000,956000000,951000000,1240000000
4,Proceeds From Operating Activities,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
5,Change In Operating Liabilities,65000000.0,213000000.0,85000000.0,138000000.0,-503000000.0,126000000,47000000,197000000,81000000,-456000000,-529000000,-224000000,451000000,174000000,170000000
6,Change In Operating Assets,-1115000000.0,468000000.0,-1510000000.0,-5088000000.0,-569000000.0,-879000000,-1315000000,-698000000,-945000000,-1231000000,1464000000,1950000000,1442000000,397000000,-2394000000
7,Depreciation Depletion And Amortization,4396000000.0,4802000000.0,6417000000.0,6695000000.0,6059000000.0,4480000000,4541000000,4957000000,4395000000,5034000000,5265000000,5221000000,5368000000,5386000000,4994000000
8,Capital Expenditures,1245000000.0,1346000000.0,2062000000.0,2618000000.0,2286000000.0,3395000000,3229000000,3567000000,4151000000,4183000000,4140000000,4717000000,4667000000,4754000000,4077000000
9,Change In Receivables,-725000000.0,539000000.0,-1372000000.0,-5297000000.0,-502000000.0,-1006000000,-1297000000,-712000000,-812000000,-1270000000,1407000000,2230000000,1279000000,489000000,-2131000000
10,Change In Inventory,-390000000.0,-71000000.0,-138000000.0,209000000.0,-67000000.0,127000000,-18000000,14000000,-133000000,39000000,57000000,-280000000,163000000,-92000000,-263000000
11,Profit Loss,7523000000.0,1639000000.0,5743000000.0,5590000000.0,9431000000.0,8728000000,5753000000,11872000000,13190000000,12022000000,16483000000,16604000000,15855000000,14833000000,13425000000
12,Cashflow From Investment,-7070000000.0,-4202000000.0,-5975000000.0,-3028000000.0,-26936000000.0,-4913000000,-7081000000,-10928000000,-8159000000,-3001000000,-7326000000,-9004000000,-4396000000,-8507000000,-6729000000
13,Cashflow From Financing,-1769000000.0,-4958000000.0,-13354000000.0,-9721000000.0,9042000000.0,-10469000000,-6418000000,-5917000000,-9413000000,-15452000000,-9883000000,-11976000000,-13696000000,-12429000000,-14700000000
14,Proceeds From Repayments Of Short Term Debt,-7000000.0,217000000.0,-40000000.0,-853000000.0,-2597000000.0,1341000000,620000000,26000000,101000000,-1753000000,621000000,-441000000,1321000000,817000000,-651000000
15,Payments For Repurchase Of Common Stock,0.0,0.0,0.0,0.0,1361000000.0,4443000000,4340000000,3502000000,4609000000,13679000000,13859000000,11995000000,15046000000,15375000000,7429000000
16,Payments For Repurchase Of Equity,0.0,0.0,0.0,0.0,1361000000.0,4443000000,4340000000,3502000000,4609000000,13679000000,13859000000,11995000000,15046000000,15375000000,7429000000
17,Payments For Repurchase Of Preferred Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
18,Dividend Payout,6040000000.0,5948000000.0,5869000000.0,5797000000.0,5707000000.0,5666000000,5506000000,5256000000,4897000000,4265000000,4058000000,3773000000,3473000000,3177000000,2860000000
19,Dividend Payout Common Stock,6040000000.0,5948000000.0,5869000000.0,5797000000.0,5707000000.0,5666000000,5506000000,5256000000,4897000000,4265000000,4058000000,3773000000,3473000000,3177000000,2860000000
20,Dividend Payout Preferred Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
21,Proceeds From Issuance Of Common Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
22,Proceeds From Issuance Of Long Term Debt And C...,9586000000.0,7804000000.0,522000000.0,10504000000.0,31825000000.0,6891000000,9643000000,9132000000,5540000000,8180000000,16353000000,12242000000,9996000000,8055000000,6683000000
23,Proceeds From Issuance Of Preferred Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
24,Proceeds From Repurchase Of Equity,51000000.0,-407000000.0,-319000000.0,-210000000.0,-1361000000.0,-4443000000,-4165000000,-3298000000,-4287000000,-12970000000,-12785000000,-10455000000,-12593000000,-11601000000,-4377000000
25,Proceeds From Sale Of Treasury Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
26,Change In Cash And Cash Equivalents,0.0,0.0,-6533000000.0,5448000000.0,-3124000000.0,-135000000,4146000000,140000000,-790000000,-2240000000,304000000,-1511000000,2523000000,-1522000000,-558000000
27,Change In Exchange Rate,0.0,0.0,0.0,0.0,0.0,0,937000000,-51000000,-473000000,-655000000,28000000,-116000000,-493000000,-135000000,98000000
28,Net Income,7502000000.0,1639000000.0,5743000000.0,5590000000.0,9431000000.0,8728000000,5753000000,11872000000,13190000000,12016000000,16476000000,16593000000,15849000000,14824000000,13425000000

In [126]:
FS[0].index.name = index_names[0]
FS[1].index.name = index_names[1]
FS[2].index.name = index_names[2]

In [127]:
display(FS[0])
display(FS[1])
display(FS[2])

,fiscalDateEnding,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31,2011-12-31,2010-12-31,2009-12-31
INCOME STATEMENT,,,,,,,,,,,,,,,,
1,Reported Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,Gross Profit,34300000000.0,32687000000.0,31486000000.0,30865000000.0,31533000000.0,36936000000,36943000000,38516000000,40684000000,46407000000,48684000000,50361000000,50138000000,46014000000,43785000000
3,Total Revenue,61860000000.0,60530000000.0,57350000000.0,55179000000.0,57714000000.0,79591000000,79139000000,79919000000,81741000000,92793000000,98367000000,102874000000,106916000000,99870000000,95758000000
4,Cost Of Revenue,27560000000.0,27842000000.0,25865000000.0,24314000000.0,26181000000.0,42655000000,42196000000,41403000000,41057000000,46386000000,49683000000,52513000000,56778000000,53857000000,51973000000
5,Costof Goods And Services Sold,245000000.0,385000000.0,300000000.0,439000000.0,591000000.0,42655000000,41703000000,40580000000,40046000000,45346000000,50136000000,53122000000,55713000000,52757000000,50752000000
6,Operating Income,6979000000.0,6408000000.0,4786000000.0,4609000000.0,9004000000.0,10838000000,8813000000,9715000000,13333000000,16443000000,17075000000,16082000000,16531000000,14411000000,15792000000
7,Selling General And Administrative,19003000000.0,18609000000.0,18745000000.0,20561000000.0,18724000000.0,19366000000,19680000000,20869000000,20430000000,23180000000,23451000000,23463000000,23594000000,21837000000,20952000000
8,Research And Development,6775000000.0,6567000000.0,6488000000.0,6262000000.0,5910000000.0,5379000000,5590000000,5726000000,5247000000,5437000000,5743000000,5816000000,6258000000,6026000000,5820000000
9,Operating Expenses,27321000000.0,26279000000.0,26700000000.0,30966000000.0,27484000000.0,26098000000,27414000000,28579000000,27351000000,28429000000,31832000000,33946000000,34229000000,31166000000,28395000000
10,Investment Income Net,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
11,Net Interest Income,-1607000000.0,-1216000000.0,-1155000000.0,-1288000000.0,-1344000000.0,-723000000,-615000000,-630000000,-468000000,-484000000,-402000000,-459000000,-411000000,-368000000,-402000000
12,Interest Income,591000000.0,162000000.0,52000000.0,105000000.0,349000000.0,264000000,144000000,108000000,0,0,0,0,0,0,0
13,Interest Expense,1607000000.0,1216000000.0,1155000000.0,1288000000.0,1344000000.0,723000000,615000000,630000000,468000000,484000000,402000000,459000000,411000000,368000000,402000000
14,Non Interest Income,-77000000.0,365000000.0,337000000.0,-92000000.0,0.0,0,0,0,-71000000,1535000000,236000000,729000000,342000000,805000000,-219000000
15,Other Non Operating Income,266000000.0,443000000.0,225000000.0,156000000.0,968000000.0,-1152000000,216000000,-145000000,724000000,1938000000,327000000,843000000,20000000,787000000,351000000
16,Depreciation,2109000000.0,2407000000.0,3888000000.0,4227000000.0,4209000000.0,3127000000,3021000000,2837000000,2662000000,3145000000,3327000000,3392000000,3589000000,3657000000,3773000000
17,Depreciation And Amortization,2287000000.0,2395000000.0,2529000000.0,2468000000.0,1850000000.0,1353000000,1520000000,1544000000,1193000000,1347000000,1938000000,1829000000,1779000000,1729000000,1221000000
18,Income Before Tax,8678000000.0,1013000000.0,5867000000.0,4230000000.0,9491000000.0,11347000000,11395000000,12321000000,15771000000,16250000000,19839000000,22134000000,20997000000,19714000000,18138000000
19,Income Tax Expense,1176000000.0,-626000000.0,124000000.0,-1360000000.0,60000000.0,2619000000,5642000000,449000000,2581000000,4234000000,3363000000,5541000000,5148000000,4890000000,4713000000
20,Interest And Debt Expense,1607000000.0,1216000000.0,1155000000.0,1288000000.0,1344000000.0,723000000,615000000,630000000,468000000,484000000,402000000,459000000,411000000,368000000,402000000
21,Net Income From Continuing Operations,7514000000.0,1783000000.0,4712000000.0,3932000000.0,7146000000.0,8723000000,5758000000,11881000000,13364000000,15751000000,16483000000,16604000000,15855000000,14833000000,13425000000
22,Comprehensive Income Net Of Tax,5481000000.0,8134000000.0,10582000000.0,4850000000.0,10324000000.0,8252000000,8559000000,12081000000,11459000000,5742000000,37117000000,29324000000,17603000000,29744000000,29865000000
23,Ebit,10285000000.0,2229000000.0,7022000000.0,5518000000.0,10835000000.0,12070000000,12010000000,12951000000,16239000000,16734000000,20241000000,22593000000,21408000000,20082000000,18540000000
24,Ebitda,12572000000.0,4624000000.0,9551000000.0,7986000000.0,12685000000.0,13423000000,13530000000,14495000000,17432000000,18081000000,22179000000,24422000000,23187000000,21811000000,19761000000
25,Net Income,7502000000.0,1639000000.0,5743000000.0,5590000000.0,9431000000.0,8728000000,5753000000,11872000000,13190000000,12016000000,16476000000,16593000000,15849000000,14824000000,13425000000

,fiscalDateEnding,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31,2011-12-31,2010-12-31,2009-12-31,2008-12-31
BALANCE SHEET,,,,,,,,,,,,,,,,,
1,Reported Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,Total Assets,135241000000.0,127243000000.0,132001000000.0,155971000000.0,152186000000.0,123382000000,125356000000,117470000000,110495000000,117271000000,125641000000,119213000000,116433000000,113452000000,109022000000,109524000000
3,Total Current Assets,32908000000.0,29118000000.0,29539000000.0,39165000000.0,38420000000.0,49146000000,49735000000,43888000000,42504000000,47377000000,51350000000,49433000000,50928000000,48116000000,48935000000,49004000000
4,Cash And Cash Equivalents At Carrying Value,13068000000.0,7886000000.0,6650000000.0,13188000000.0,8172000000.0,11379000000,11972000000,7826000000,7686000000,8476000000,10716000000,10412000000,11922000000,10661000000,12183000000,12741000000
5,Cash And Short Term Investments,13068000000.0,7886000000.0,6650000000.0,13812000000.0,8868000000.0,11997000000,12580000000,8527000000,8194000000,8476000000,11066000000,11129000000,11922000000,11651000000,13974000000,12741000000
6,Inventory,1161000000.0,1552000000.0,1649000000.0,1812000000.0,1619000000.0,1682000000,1583000000,1553000000,1551000000,2103000000,2310000000,2287000000,2595000000,2450000000,2494000000,2701000000
7,Current Net Receivables,7725000000.0,14209000000.0,14977000000.0,18738000000.0,23795000000.0,30563000000,31630000000,29245000000,28554000000,31831000000,30252000000,28705000000,28080000000,10834000000,10736000000,0
8,Total Non Current Assets,101302000000.0,96874000000.0,101786000000.0,115864000000.0,112878000000.0,68067000000,69446000000,66971000000,64956000000,65218000000,73054000000,67137000000,66929000000,56114000000,49443000000,60520000000
9,Property Plant Equipment,-472000000.0,5334000000.0,5694000000.0,6205000000.0,10010000000.0,10792000000,11116000000,10830000000,10727000000,10771000000,13821000000,13996000000,13883000000,14096000000,14165000000,14305000000
10,Accumulated Depreciation Amortization P P E,0.0,13361000000.0,14390000000.0,13895000000.0,22018000000.0,21668000000,21215000000,19303000000,18615000000,28263000000,26654000000,26505000000,26241000000,26193000000,25431000000,24140000000
11,Intangible Assets,71214000000.0,67133000000.0,68154000000.0,73413000000.0,73457000000.0,39352000000,40530000000,40887000000,35508000000,33660000000,35055000000,33034000000,29605000000,28624000000,22703000000,21104000000
12,Intangible Assets Excluding Goodwill,11036000000.0,11184000000.0,12511000000.0,13796000000.0,15235000000.0,3087000000,3742000000,4688000000,3487000000,3104000000,3871000000,3787000000,3392000000,3488000000,2513000000,2878000000
13,Goodwill,60178000000.0,55949000000.0,55643000000.0,53765000000.0,52471000000.0,36265000000,36788000000,36199000000,32021000000,30556000000,31184000000,29247000000,26213000000,25136000000,20190000000,18226000000
14,Investments,125000000.0,142000000.0,199000000.0,923000000.0,974000000.0,1157000000,894000000,713000000,1008000000,1167000000,549000000,1422000000,884000000,122000000,115000000,0
15,Long Term Investments,125000000.0,142000000.0,159000000.0,172000000.0,184000000.0,192000000,137000000,119000000,282000000,350000000,137000000,120000000,131000000,122000000,115000000,0
16,Short Term Investments,373000000.0,852000000.0,600000000.0,600000000.0,696000000.0,618000000,608000000,701000000,508000000,0,350000000,717000000,0,990000000,1791000000,166000000
17,Other Current Assets,2219000000.0,2610000000.0,5663000000.0,4776000000.0,4138000000.0,4904000000,3942000000,-1000000,4205000000,1000000,-1000000,5439000000,6850000000,5790000000,-1000000,5841000000
18,Other Non Current Assets,0.0,0.0,0.0,0.0,0.0,0,0,0,5187000000,5520000000,4639000000,5021000000,4895000000,5778000000,5379000000,5058000000
19,Total Liabilities,112628000000.0,105222000000.0,113005000000.0,135244000000.0,131202000000.0,106452000000,107631000000,99078000000,96071000000,105257000000,103294000000,100229000000,96197000000,90279000000,86267000000,95939000000
20,Total Current Liabilities,34122000000.0,31505000000.0,33619000000.0,39869000000.0,37701000000.0,38227000000,37363000000,36275000000,34269000000,39581000000,40154000000,43625000000,42123000000,40562000000,36002000000,42435000000
21,Current Accounts Payable,4132000000.0,4051000000.0,3955000000.0,4033000000.0,4896000000.0,6558000000,6451000000,6209000000,6028000000,6864000000,7461000000,7952000000,8517000000,7804000000,7436000000,7014000000
22,Deferred Revenue,16984000000.0,15531000000.0,16095000000.0,17134000000.0,15877000000.0,14610000000,15298000000,14635000000,14792000000,15568000000,16665000000,16443000000,16044000000,15246000000,0,0
23,Current Debt,12851000000.0,9511000000.0,13551000000.0,14102000000.0,16319000000.0,10207000000,6987000000,7513000000,6461000000,5731000000,6862000000,9181000000,8463000000,6778000000,4168000000,11236000000
24,Short Term Debt,6426000000.0,4760000000.0,6787000000.0,7116000000.0,8797000000.0,10207000000,1773000000,1274000000,1190000000,1130000000,3009000000,3589000000,4157000000,2761000000,1946000000,11237000000
25,Total Non Current Liabilities,87072000000.0,83414000000.0,90188000000.0,106679000000.0,100877000000.0,76767000000,75565000000,66849000000,66076000000,70280000000,68996000000,60597000000,59703000000,54524000000,50266000000,53624000000
26,Capital Lease Obligations,379000000.0,164000000.0,63000000.0,60000000.0,5259000000.0,0,0,0,0,0,0,0,0,0,0,0
27,Long Term Debt,54588000000.0,47190000000.0,56193000000.0,68416000000.0,65953000000.0,42656000000,45052000000,40893000000,38699000000,39593000000,36710000000,29680000000,27161000000,25863000000,24154000000,22689000000
28,Current Long Term Debt,6304000000.0,4676000000.0,6728000000.0,6956000000.0,7522000000.0,7051000000,5214000000,6239000000,5271000000,4601000000,3854000000,5593000000,4306000000,4017000000,2222000000,0
29,Long Term Debt Noncurrent,50121000000.0,46189000000.0,44917000000.0,54217000000.0,54102000000.0,35605000000,39837000000,34655000000,33428000000,34991000000,32856000000,24088000000,22857000000,21846000000,0,0
30,Short Long Term Debt Total,120630000000.0,107759000000.0,110496000000.0,130178000000.0,132187000000.0,52863000000,46825000000,42167000000,39889000000,40805000000,39719000000,29680000000,31318000000,28624000000,26100000000,33926000000
31,Other Current Liabilities,9292000000.0,9788000000.0,9386000000.0,13588000000.0,10602000000.0,10297000000,12374000000,11518000000,4353000000,5994000000,4748000000,4847000000,4535000000,5156000000,5223000000,6580000000
32,Other Non Current Liabilities,11475000000.0,12243000000.0,13996000000.0,14180000000.0,14526000000.0,12174000000,9965000000,7477000000,8099000000,8733000000,9934000000,7607000000,8996000000,8226000000,8819000000,8192000000
33,Total Shareholder Equity,22533000000.0,21944000000.0,18901000000.0,20597000000.0,20841000000.0,16796000000,17594000000,18246000000,14262000000,11868000000,22792000000,18860000000,20138000000,23046000000,22637000000,13465000000
34,Treasury Stock,169624000000.0,169484000000.0,169392000000.0,169339000000.0,169413000000.0,168071000000,163507000000,159050000000,155518000000,150715000000,137242000000,123131000000,110963000000,96161000000,81243000000,74171000000
35,Retained Earnings,151276000000.0,149825000000.0,154209000000.0,162717000000.0,162954000000.0,159206000000,153126000000,152759000000,146124000000,137793000000,130042000000,117641000000,104857000000,92532000000,80900000000,70353000000
36,Common Stock,59643000000.0,58343000000.0,57319000000.0,56556000000.0,55895000000.0,55151000000,54566000000,53935000000,53262000000,52666000000,51594000000,50110000000,48129000000,45418000000,41810000000,39129000000
37,Common Stock Shares Outstanding,915013646.0,906091977.0,898068600.0,892653424.0,887110455.0,892479411,922179225,945867403,965728725,990523759,1054390937,1117367676,1163182565,1227993544,1318329640,1381773136

,fiscalDateEnding,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31,2016-12-31,2015-12-31,2014-12-31,2013-12-31,2012-12-31,2011-12-31,2010-12-31,2009-12-31
CASH FLOW,,,,,,,,,,,,,,,,
1,Reported Currency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,Operating Cashflow,13931000000.0,10435000000.0,12796000000.0,18197000000.0,14770000000.0,15247000000,16724000000,17084000000,17255000000,16868000000,17485000000,19586000000,19846000000,19549000000,20773000000
3,Payments For Operating Activities,2645000000.0,2430000000.0,2655000000.0,3406000000.0,3234000000.0,1423000000,1208000000,1158000000,995000000,1061000000,1012000000,1009000000,956000000,951000000,1240000000
4,Proceeds From Operating Activities,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
5,Change In Operating Liabilities,65000000.0,213000000.0,85000000.0,138000000.0,-503000000.0,126000000,47000000,197000000,81000000,-456000000,-529000000,-224000000,451000000,174000000,170000000
6,Change In Operating Assets,-1115000000.0,468000000.0,-1510000000.0,-5088000000.0,-569000000.0,-879000000,-1315000000,-698000000,-945000000,-1231000000,1464000000,1950000000,1442000000,397000000,-2394000000
7,Depreciation Depletion And Amortization,4396000000.0,4802000000.0,6417000000.0,6695000000.0,6059000000.0,4480000000,4541000000,4957000000,4395000000,5034000000,5265000000,5221000000,5368000000,5386000000,4994000000
8,Capital Expenditures,1245000000.0,1346000000.0,2062000000.0,2618000000.0,2286000000.0,3395000000,3229000000,3567000000,4151000000,4183000000,4140000000,4717000000,4667000000,4754000000,4077000000
9,Change In Receivables,-725000000.0,539000000.0,-1372000000.0,-5297000000.0,-502000000.0,-1006000000,-1297000000,-712000000,-812000000,-1270000000,1407000000,2230000000,1279000000,489000000,-2131000000
10,Change In Inventory,-390000000.0,-71000000.0,-138000000.0,209000000.0,-67000000.0,127000000,-18000000,14000000,-133000000,39000000,57000000,-280000000,163000000,-92000000,-263000000
11,Profit Loss,7523000000.0,1639000000.0,5743000000.0,5590000000.0,9431000000.0,8728000000,5753000000,11872000000,13190000000,12022000000,16483000000,16604000000,15855000000,14833000000,13425000000
12,Cashflow From Investment,-7070000000.0,-4202000000.0,-5975000000.0,-3028000000.0,-26936000000.0,-4913000000,-7081000000,-10928000000,-8159000000,-3001000000,-7326000000,-9004000000,-4396000000,-8507000000,-6729000000
13,Cashflow From Financing,-1769000000.0,-4958000000.0,-13354000000.0,-9721000000.0,9042000000.0,-10469000000,-6418000000,-5917000000,-9413000000,-15452000000,-9883000000,-11976000000,-13696000000,-12429000000,-14700000000
14,Proceeds From Repayments Of Short Term Debt,-7000000.0,217000000.0,-40000000.0,-853000000.0,-2597000000.0,1341000000,620000000,26000000,101000000,-1753000000,621000000,-441000000,1321000000,817000000,-651000000
15,Payments For Repurchase Of Common Stock,0.0,0.0,0.0,0.0,1361000000.0,4443000000,4340000000,3502000000,4609000000,13679000000,13859000000,11995000000,15046000000,15375000000,7429000000
16,Payments For Repurchase Of Equity,0.0,0.0,0.0,0.0,1361000000.0,4443000000,4340000000,3502000000,4609000000,13679000000,13859000000,11995000000,15046000000,15375000000,7429000000
17,Payments For Repurchase Of Preferred Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
18,Dividend Payout,6040000000.0,5948000000.0,5869000000.0,5797000000.0,5707000000.0,5666000000,5506000000,5256000000,4897000000,4265000000,4058000000,3773000000,3473000000,3177000000,2860000000
19,Dividend Payout Common Stock,6040000000.0,5948000000.0,5869000000.0,5797000000.0,5707000000.0,5666000000,5506000000,5256000000,4897000000,4265000000,4058000000,3773000000,3473000000,3177000000,2860000000
20,Dividend Payout Preferred Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
21,Proceeds From Issuance Of Common Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
22,Proceeds From Issuance Of Long Term Debt And C...,9586000000.0,7804000000.0,522000000.0,10504000000.0,31825000000.0,6891000000,9643000000,9132000000,5540000000,8180000000,16353000000,12242000000,9996000000,8055000000,6683000000
23,Proceeds From Issuance Of Preferred Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
24,Proceeds From Repurchase Of Equity,51000000.0,-407000000.0,-319000000.0,-210000000.0,-1361000000.0,-4443000000,-4165000000,-3298000000,-4287000000,-12970000000,-12785000000,-10455000000,-12593000000,-11601000000,-4377000000
25,Proceeds From Sale Of Treasury Stock,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
26,Change In Cash And Cash Equivalents,0.0,0.0,-6533000000.0,5448000000.0,-3124000000.0,-135000000,4146000000,140000000,-790000000,-2240000000,304000000,-1511000000,2523000000,-1522000000,-558000000
27,Change In Exchange Rate,0.0,0.0,0.0,0.0,0.0,0,937000000,-51000000,-473000000,-655000000,28000000,-116000000,-493000000,-135000000,98000000
28,Net Income,7502000000.0,1639000000.0,5743000000.0,5590000000.0,9431000000.0,8728000000,5753000000,11872000000,13190000000,12016000000,16476000000,16593000000,15849000000,14824000000,13425000000