# Libraries

In [1]:
# Core Libraries 
import pandas as pd
import numpy as np
import requests
import re

* Libraries Version

In [2]:
print(f"Pandas Version: {pd.__version__} \n ----")
print(f"Numpy Version: {np.__version__}\n ----")
print(f"Requests Version: {requests.__version__}")

Pandas Version: 2.0.2
 ----
Numpy Version: 1.22.3
 ----
Requests Version: 2.31.0

# Financial Modeling Prep Data Set

!! Please Before the run, receive your api key form website and setup api key inside of .env file

[Financial Modeling Prep Website](https://site.financialmodelingprep.com/developer/docs/#ESG-SCORE)

**All links open documentation page**

* Also, you can check Api Key Requests

## API KEY Configuration

* API keys hidden for security !!!

In [5]:
#for Api Key --- Financial Modeling Prep Api Key  (https://site.financialmodelingprep.com/developer/docs/#Financial-Statements-List)
from dotenv import load_dotenv
import os

load_dotenv()

True

# STOCK FUNDAMENTALS

## Financial Modeling Prep Financial Statements

1. FS[0] = Income Statement

2. FS[1] = Balance Sheet

3. FS[2] = Cashflow

In [6]:
FS_list = ["income-statement","balance-sheet-statement","cash-flow-statement"]
data = []
for i in FS_list:
    urlx = f"https://financialmodelingprep.com/api/v3/{i}/AAPL?limit=240&apikey={os.getenv('FinancialMP_key')}"
    r_infox = requests.get(urlx)
    fsx = r_infox.json()
    data.append(fsx)


IS = pd.DataFrame(data[0]).T.reset_index()
FS_columns = IS.iloc[0].to_list()
BS = pd.DataFrame(data[1]).T.reset_index()
CF = pd.DataFrame(data[2]).T.reset_index()

pattern = '[A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z][^A-Z]*'

FS = [IS,BS,CF]


one = FS[0]["index"]
two = FS[1]["index"]
three = FS[2]["index"]

pat_list = [one,two,three]

FS_0_join = []
for i in np.arange(0, len(one)):
    FS_0_pattern = one[i]
    FS_0_findall = re.findall(pattern,FS_0_pattern)
    FS_0_join.append(" ".join(FS_0_findall).title())
FS[0]["index"] = FS_0_join

FS_1_join = []
for z in np.arange(0, len(two)):
    FS_1_pattern = two[z]
    FS_1_findall = re.findall(pattern,FS_1_pattern)
    FS_1_join.append(" ".join(FS_1_findall).title())
FS[1]["index"] = FS_1_join

FS_2_join = []
for q in np.arange(0, len(three)):
    FS_2_pattern = three[q]
    FS_2_findall = re.findall(pattern,FS_2_pattern)
    FS_2_join.append(" ".join(FS_2_findall).title())
FS[2]["index"] = FS_2_join

index_names = ["INCOME STATEMENT","BALANCE SHEET","CASH FLOW"]


for i in np.arange(0,3):
    FS[i].columns = FS_columns
    FS[i] = FS[i].drop(0)

    FS[i].rename_axis(None, axis=1, inplace=True)

    FS[i].index.name = index_names[i]

    FS[i].rename(columns={"date":"Date"}, inplace=True)

    FS[i] = FS[i].iloc[:-1]
FS

[                                                         Date  \
 INCOME STATEMENT
 1                                                      Symbol
 2                                           Reported Currency
 3                                                         Cik
 4                                                Filling Date
 5                                               Accepted Date
 6                                               Calendar Year
 7                                                      Period
 8                                                     Revenue
 9                                             Cost Of Revenue
 10                                               Gross Profit
 11                                         Gross Profit Ratio
 12                          Research And Development Expenses
 13                        General And Administrative Expenses
 14                             Selling And Marketing Expenses
 15                Selling General And Administrative Expenses
 16                                             Other Expenses
 17                                         Operating Expenses
 18                                          Cost And Expenses
 19                                            Interest Income
 20                                           Interest Expense
 21                              Depreciation And Amortization
 22                                                     Ebitda
 23                                                Ebitdaratio
 24                                           Operating Income
 25                                     Operating Income Ratio
 26                            Total Other Income Expenses Net
 27                                          Income Before Tax
 28                                    Income Before Tax Ratio
 29                                         Income Tax Expense
 30                                                 Net Income
 31                                           Net Income Ratio
 32                                                        Eps
 33                                                 Epsdiluted
 34                                   Weighted Average Shs Out
 35                               Weighted Average Shs Out Dil
 36                                                       Link

                                                          2022-09-24  \
 INCOME STATEMENT
 1                                                              AAPL
 2                                                               USD
 3                                                        0000320193
 4                                                        2022-10-28
 5                                               2022-10-27 18:01:14
 6                                                              2022
 7                                                                FY
 8                                                      394328000000
 9                                                      223546000000
 10                                                     170782000000
 11                                                         0.433096
 12                                                      26251000000
 13                                                                0
 14                                                                0
 15                                                      25094000000
 16                                                                0
 17                                                      51345000000
 18                                                     274891000000
 19                                                       2825000000
 20                                                       2931000000
 21                                                      11104000000
 22                                                     130541000000
 23                                                         0.331047
 24                                                     119437000000
 25                                                         0.302887
 26                                                       -334000000
 27                                                     119103000000
 28                                                          0.30204
 29                                                      19300000000
 30                                                      99803000000
 31                                                         0.253096
 32                                                             6.15
 33                                                             6.11
 34                                                      16215963000
 35                                                      16325819000
 36                https://www.sec.gov/Archives/edgar/data/320193...

                                                          2021-09-25  \
 INCOME STATEMENT
 1                                                              AAPL
 2                                                               USD
 3                                                        0000320193
 4                                                        2021-10-29
 5                                               2021-10-28 18:04:28
 6                                                              2021
 7                                                                FY
 8                                                      365817000000
 9                                                      212981000000
 10                                                     152836000000
 11                                                         0.417794
 12                                                      21914000000
 13                                                                0
 14                                                                0
 15                                                      21973000000
 16                                                                0
 17                                                      43887000000
 18                                                     256868000000
 19                                                       2843000000
 20                                                       2645000000
 21                                                      11284000000
 22                                                     120233000000
 23                                                          0.32867
 24                                                     108949000000
 25                                                         0.297824
 26                                                        258000000
 27                                                     109207000000
 28                                                         0.298529
 29                                                      14527000000
 30                                                      94680000000
 31                                                         0.258818
 32                                                             5.67
 33                                                             5.61
 34                                                      16701272000
 35                                                      16864919000
 36                https://www.sec.gov/Archives/edgar/data/320193...

                                                          2020-09-26  \
 INCOME STATEMENT
 1                                                              AAPL
 2                                                               USD
 3                                                        0000320193
 4                                                        2020-10-30
 5                                               2020-10-29 18:06:25
 6                                                              2020
 7                                                                FY
 8                                                      274515000000
 9                                                      169559000000
 10                                                     104956000000
 11                                                         0.382332
 12                                                      18752000000
 13                                                                0
 14                                                                0
 15                                                      19916000000
 16                                                                0
 17                                                      38668000000
 18                                                     208227000000
 19                                                       3763000000
 20                                                       2873000000
 21                                                      11056000000
 22                                                      77344000000
 23                                                         0.281748
 24                                                      66288000000
 25                                                         0.241473
 26                                                        803000000
 27                                                      67091000000
 28                                                         0.244398
 29                                                       9680000000
 30                                                      57411000000
 31                                                         0.209136
 32                                                             3.31
 33                                                             3.28
 34                                                      17352119000
 35                                                      17528214000
 36                https://www.sec.gov/Archives/edgar/data/320193...

                                                          2019-09-28  \
 INCOME STATEMENT
 1                                                              AAPL
 2                                                               USD
 3                                                        0000320193
 4                                                        2019-10-31
 5                                               2019-10-30 18:12:36
 6                                                              2019
 7                                                                FY
 8                                                      260174000000
 9                                                      161782000000
 10                                                      98392000000
 11                                                         0.378178
 12                                                      16217000000
 13                                                                0
 14                                                                0
 15                                                      18245000000
 16                                                                0
 17                                                      34462000000
 18                                                     196244000000
 19                                                       4961000000
 20                                                       3576000000
 21                                                      12547000000
 22                                                      76477000000
 23                                                         0.293946
 24                                                      63930000000
 25                                                          0.24572
 26                                                       1807000000
 27                                                      65737000000
 28                                                         0.252666
 29                                                      10481000000
 30                                                      55256000000
 31                                                         0.212381
 32                                                             2.99
 33                                                             2.97
 34                                                      18471336000
 35                                                      18595652000
 36                https://www.sec.gov/Archives/edgar/data/320193...

                                                          2018-09-29
 INCOME STATEMENT
 1                                                              AAPL
 2                                                               USD
 3                                                        0000320193
 4                                                        2018-11-05
 5                                               2018-11-05 08:01:40
 6                                                              2018
 7                                                                FY
 8                                                      265595000000
 9                                                      163756000000
 10                                                     101839000000
 11                                                         0.383437
 12                                                      14236000000
 13                                                                0
 14                                                                0
 15                                                      16705000000
 16                                                       2005000000
 17                                                      30941000000
 18                                                     194697000000
 19                                                       5686000000
 20                                                       3240000000
 21                                                      10903000000
 22                                                      81801000000
 23                                                         0.307991
 24                                                      70898000000
 25                                                          0.26694
 26                                                       2005000000
 27                                                      72903000000
 28                                                         0.274489
 29                                                      13372000000
 30                                                      59531000000
 31                                                         0.224142
 32                                                              3.0
 33                                                             2.98
 34                                                      19821508000
 35                                                      20000436000
 36                https://www.sec.gov/Archives/edgar/data/320193...  ,
                                                       Date  \
 BALANCE SHEET
 1                                                   Symbol
 2                                        Reported Currency
 3                                                      Cik
 4                                             Filling Date
 5                                            Accepted Date
 6                                            Calendar Year
 7                                                   Period
 8                                Cash And Cash Equivalents
 9                                   Short Term Investments
 10                         Cash And Short Term Investments
 11                                         Net Receivables
 12                                               Inventory
 13                                    Other Current Assets
 14                                    Total Current Assets
 15                            Property Plant Equipment Net
 16                                                Goodwill
 17                                       Intangible Assets
 18                          Goodwill And Intangible Assets
 19                                   Long Term Investments
 20                                              Tax Assets
 21                                Other Non Current Assets
 22                                Total Non Current Assets
 23                                            Other Assets
 24                                            Total Assets
 25                                        Account Payables
 26                                         Short Term Debt
 27                                            Tax Payables
 28                                        Deferred Revenue
 29                               Other Current Liabilities
 30                               Total Current Liabilities
 31                                          Long Term Debt
 32                            Deferred Revenue Non Current
 33                    Deferred Tax Liabilities Non Current
 34                           Other Non Current Liabilities
 35                           Total Non Current Liabilities
 36                                       Other Liabilities
 37                               Capital Lease Obligations
 38                                       Total Liabilities
 39                                         Preferred Stock
 40                                            Common Stock
 41                                       Retained Earnings
 42             Accumulated Other Comprehensive Income Loss
 43                          Othertotal Stockholders Equity
 44                               Total Stockholders Equity
 45                                            Total Equity
 46               Total Liabilities And Stockholders Equity
 47                                       Minority Interest
 48                      Total Liabilities And Total Equity
 49                                       Total Investments
 50                                              Total Debt
 51                                                Net Debt
 52                                                    Link

                                                       2022-09-24  \
 BALANCE SHEET
 1                                                           AAPL
 2                                                            USD
 3                                                     0000320193
 4                                                     2022-10-28
 5                                            2022-10-27 18:01:14
 6                                                           2022
 7                                                             FY
 8                                                    23646000000
 9                                                    24658000000
 10                                                   48304000000
 11                                                   60932000000
 12                                                    4946000000
 13                                                   21223000000
 14                                                  135405000000
 15                                                   42117000000
 16                                                             0
 17                                                             0
 18                                                             0
 19                                                  120805000000
 20                                                             0
 21                                                   54428000000
 22                                                  217350000000

# MARKET INDEXES

## List of Nasdaq 100 companies

[NASDAQ 100 Companies Link](https://site.financialmodelingprep.com/developer/docs/list-of-nasdaq-companies-api/#List-of-Nasdaq-100-companies)

In [3]:
NASDAQ_100_url = f"https://financialmodelingprep.com/api/v3/nasdaq_constituent?apikey={os.getenv('FinancialMP_key')}"
NASDAQ_100_r   = requests.get(NASDAQ_100_url)
NASDAQ_100_data = NASDAQ_100_r.json()

* The Central Index Key (CIK) is used on the SEC's computer systems to identify corporations and individual people who have filed disclosure with the SEC

In [5]:
NASDAQ_100_df = pd.DataFrame(NASDAQ_100_data)
NASDAQ_100_df

,symbol,name,sector,subSector,headQuarter,dateFirstAdded,cik,founded
0,ATVI,Activision Blizzard,Communication Services,Communication Services,"Santa Monica, CALIFORNIA",None,0000718877,1983-06-10
1,ADBE,Adobe Inc.,Technology,Technology,"San Jose, CALIFORNIA",None,0000796343,1986-01-08
2,ADP,ADP,Industrials,Industrials,"Roseland, NEW JERSEY",None,0000008670,1961-09-01
3,ABNB,Airbnb,Consumer Cyclical,Consumer Cyclical,"San Francisco, CA",None,0001559720,2020-12-10
4,ALGN,Align Technology,Healthcare,Healthcare,"San Jose, CALIFORNIA",None,0001097149,2001-01-26
...,...,...,...,...,...,...,...,...
96,WBD,Warner Bros. Discovery,Communication Services,Communication Services,"New York, NY",None,0001437107,2005-07-06
97,WDAY,"Workday, Inc.",Technology,Technology,"Pleasanton, CALIFORNIA",None,0001327811,2012-12-10
98,XEL,Xcel Energy,Utilities,Utilities,"Minneapolis, MINNESOTA",None,0000072903,1949-02-28
99,ZM,Zoom Video Communications,Technology,Technology,"San Jose, CALIFORNIA",None,0001585521,2019-04-18
100,ZS,Zscaler,Technology,Technology,"San Jose, CALIFORNIA",None,0001713683,2018-03-16

In [9]:
NASDAQ_100_df.columns = ["Symbol","Name","Sector","Sub Sector","Head Quarter","Date First Added","CIK","Founded"]
NASDAQ_100_df

,Symbol,Name,Sector,Sub Sector,Head Quarter,Date First Added,CIK,Founded
0,ATVI,Activision Blizzard,Communication Services,Communication Services,"Santa Monica, CALIFORNIA",None,0000718877,1983-06-10
1,ADBE,Adobe Inc.,Technology,Technology,"San Jose, CALIFORNIA",None,0000796343,1986-01-08
2,ADP,ADP,Industrials,Industrials,"Roseland, NEW JERSEY",None,0000008670,1961-09-01
3,ABNB,Airbnb,Consumer Cyclical,Consumer Cyclical,"San Francisco, CA",None,0001559720,2020-12-10
4,ALGN,Align Technology,Healthcare,Healthcare,"San Jose, CALIFORNIA",None,0001097149,2001-01-26
...,...,...,...,...,...,...,...,...
96,WBD,Warner Bros. Discovery,Communication Services,Communication Services,"New York, NY",None,0001437107,2005-07-06
97,WDAY,"Workday, Inc.",Technology,Technology,"Pleasanton, CALIFORNIA",None,0001327811,2012-12-10
98,XEL,Xcel Energy,Utilities,Utilities,"Minneapolis, MINNESOTA",None,0000072903,1949-02-28
99,ZM,Zoom Video Communications,Technology,Technology,"San Jose, CALIFORNIA",None,0001585521,2019-04-18
100,ZS,Zscaler,Technology,Technology,"San Jose, CALIFORNIA",None,0001713683,2018-03-16

## List of Dow Jones companies

[Dow Jones Companies Link](https://site.financialmodelingprep.com/developer/docs/list-of-dow-companies-api/)

In [11]:
Dow_Jones_url = f"https://financialmodelingprep.com/api/v3/historical/dowjones_constituent?apikey={os.getenv('FinancialMP_key')}"
Dow_Jones_r   = requests.get(Dow_Jones_url)
Dow_Jones_data = Dow_Jones_r.json()

In [13]:
Dow_Jones_df = pd.DataFrame(Dow_Jones_data)
Dow_Jones_df.columns = ["Date Add","Added Security","Removed Ticker","Removed Security","Date","Symbol","Reason"]
Dow_Jones_df

,Date Add,Added Security,Removed Ticker,Removed Security,Date,Symbol,Reason
0,"August 31, 2020",Salesforce.Com Inc,,,2020-08-31,CRM,Market capitalization change.
1,"August 31, 2020",,RTX,Raytheon Technologies Corp,2020-08-31,RTX,Market capitalization change
2,"August 31, 2020",,PFE,Pfizer Inc,2020-08-31,PFE,Market capitalization change
3,"August 31, 2020",Honeywell International Inc,,,2020-08-31,HON,Market capitalization change.
4,"August 31, 2020",,XOM,Exxon Mobil Corp,2020-08-31,XOM,Market capitalization change
...,...,...,...,...,...,...,...
79,"January 1, 1994",AT&T Inc,,,1994-01-01,T,Market capitalization change.
80,"January 1, 1994",American Express Co,,,1994-01-01,AXP,Market capitalization change.
81,"January 1, 1994",Altria Group Inc,,,1994-01-01,MO,Market capitalization change.
82,"January 1, 1994",3M Co,,,1994-01-01,MMM,Market capitalization change.
83,"January 1, 1994",Texaco Inc.,,,1994-01-01,TX,Market capitalization change.

# STOCK PRICE

## Historical Daily Prices

[Historical Prices Link](https://site.financialmodelingprep.com/developer/docs/historical-stock-data-free-api/)

In [17]:
Stock_daily_url = f"https://financialmodelingprep.com/api/v3/historical-price-full/AAPL?apikey={os.getenv('FinancialMP_key')}"
Stock_daily_r = requests.get(Stock_daily_url)
Stock_daily_data = Stock_daily_r.json()

In [18]:
Stock_daily_df = pd.DataFrame(Stock_daily_data.get("historical"))
Stock_daily_df

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2023-05-26,173.3200,175.7700,173.1100,175.4300,175.429993,54834975,54794100,2.1100,1.22000,175.15,"May 26, 23",0.012200
1,2023-05-25,172.4100,173.8950,171.6900,172.9900,172.990005,55889523,56058300,0.5800,0.33641,172.88,"May 25, 23",0.003364
2,2023-05-24,171.0900,172.4183,170.5200,171.8400,171.839996,43711588,45143500,0.7500,0.43837,171.51,"May 24, 23",0.004384
3,2023-05-23,173.1300,173.3794,171.2750,171.5600,171.559998,50745163,50747300,-1.5700,-0.90683,172.19,"May 23, 23",-0.009068
4,2023-05-22,173.9800,174.7100,173.4500,174.2000,174.199997,43570932,43570900,0.2200,0.12645,174.18,"May 22, 23",0.001264
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2018-06-04,47.9088,48.3550,47.8375,47.9575,45.831799,105064696,26266174,0.0487,0.10165,48.06,"June 04, 18",0.001017
1255,2018-06-01,46.9978,47.5650,46.9375,47.5600,45.451923,93770040,23442510,0.5622,1.20000,47.38,"June 01, 18",0.012000
1256,2018-05-31,46.8050,47.0575,46.5350,46.7175,44.646759,109931172,27482793,-0.0875,-0.18695,46.78,"May 31, 18",-0.001870
1257,2018-05-30,46.9300,47.0000,46.6950,46.8750,44.797279,74762188,18690547,-0.0550,-0.11720,46.83,"May 30, 18",-0.001172
1258,2018-05-29,46.9000,47.1875,46.7175,46.9750,44.892849,90056300,22514075,0.0750,0.15991,46.92,"May 29, 18",0.001599

# STOCK NEWS

## FMP articles written by our analysts

[FMP Articles Link](https://site.financialmodelingprep.com/developer/docs/fmp-articles-api)

In [19]:
FMP_Article_url = f"https://financialmodelingprep.com/api/v3/fmp/articles?page=0&size=5&apikey={os.getenv('FinancialMP_key')}"
FMP_Article_r = requests.get(FMP_Article_url)
FMP_Article_data = FMP_Article_r.json()

In [21]:
FMP_Article_data.keys()

dict_keys(['content', 'pageable', 'totalPages', 'totalElements', 'last', 'number', 'size', 'numberOfElements', 'sort', 'first', 'empty'])

In [41]:
content = pd.DataFrame(FMP_Article_data.get("content"))
content.columns

Index(['title', 'date', 'content', 'tickers', 'image', 'link', 'author',
       'site'],
      dtype='object')

In [42]:
content

,title,date,content,tickers,image,link,author,site
0,Analog Devices Stock Plunges 7% on Guidance Miss,2023-05-26 08:52:00,<p><a href='https://financialmodelingprep.com/...,NASDAQ:ADI,https://cdn.financialmodelingprep.com/images/f...,https://financialmodelingprep.com/market-news/...,Davit Kirakosyan,Financial Modeling Prep
1,EnerSys Surges 14% Following Q4 Beat,2023-05-26 08:50:00,<p><a href='https://financialmodelingprep.com/...,NYSE:ENS,https://cdn.financialmodelingprep.com/images/f...,https://financialmodelingprep.com/market-news/...,Davit Kirakosyan,Financial Modeling Prep
2,UiPath Reports Q1 Beat But Stock Plummets 10% ...,2023-05-25 13:12:00,<p><a href='https://financialmodelingprep.com/...,NYSE:PATH,https://cdn.financialmodelingprep.com/images/f...,https://financialmodelingprep.com/market-news/...,Davit Kirakosyan,Financial Modeling Prep
3,Splunk Posts Better Than Expected Q1 Earnings,2023-05-25 13:09:00,<p><a href='https://financialmodelingprep.com/...,NASDAQ:SPLK,https://cdn.financialmodelingprep.com/images/f...,https://financialmodelingprep.com/market-news/...,Davit Kirakosyan,Financial Modeling Prep
4,PulteGroup’s Investor Meeting Key Takeaways,2023-05-25 13:03:00,<p>RBC Capital analysts provided their views o...,NYSE:PHM,https://cdn.financialmodelingprep.com/images/f...,https://financialmodelingprep.com/market-news/...,Davit Kirakosyan,Financial Modeling Prep

In [43]:
content = content[["title","date","tickers","link","author","site"]]
content

,title,date,tickers,link,author,site
0,Analog Devices Stock Plunges 7% on Guidance Miss,2023-05-26 08:52:00,NASDAQ:ADI,https://financialmodelingprep.com/market-news/...,Davit Kirakosyan,Financial Modeling Prep
1,EnerSys Surges 14% Following Q4 Beat,2023-05-26 08:50:00,NYSE:ENS,https://financialmodelingprep.com/market-news/...,Davit Kirakosyan,Financial Modeling Prep
2,UiPath Reports Q1 Beat But Stock Plummets 10% ...,2023-05-25 13:12:00,NYSE:PATH,https://financialmodelingprep.com/market-news/...,Davit Kirakosyan,Financial Modeling Prep
3,Splunk Posts Better Than Expected Q1 Earnings,2023-05-25 13:09:00,NASDAQ:SPLK,https://financialmodelingprep.com/market-news/...,Davit Kirakosyan,Financial Modeling Prep
4,PulteGroup’s Investor Meeting Key Takeaways,2023-05-25 13:03:00,NYSE:PHM,https://financialmodelingprep.com/market-news/...,Davit Kirakosyan,Financial Modeling Prep

In [24]:
pageable = pd.DataFrame(FMP_Article_data.get('pageable'))
pageable

           sort  pageSize  pageNumber  offset  paged  unpaged
empty     False         5           0       0   True    False
sorted     True         5           0       0   True    False
unsorted  False         5           0       0   True    False

In [27]:
totalPages = FMP_Article_data.get('totalPages')
totalPages

499

In [29]:
totalElements = FMP_Article_data.get('totalElements')
totalElements

2491

# COMPANY INFORMATION

## Company Profile

[Company Profile Link](https://site.financialmodelingprep.com/developer/docs/companies-key-stats-free-api)

In [44]:
Company_profile_url = f"https://financialmodelingprep.com/api/v3/profile/AAPL?apikey={os.getenv('FinancialMP_key')}"
Company_profile_r   = requests.get(Company_profile_url)
Company_profile     = Company_profile_r.json()

In [49]:
Company_df = pd.DataFrame(Company_profile).T
Company_df = Company_df.reset_index()
Company_df

                index                                                  0
0              symbol                                               AAPL
1               price                                             175.43
2                beta                                           1.296622
3              volAvg                                           57939876
4              mktCap                                      2759285913979
5             lastDiv                                               0.96
6               range                                      124.17-176.39
7             changes                                               2.44
8         companyName                                         Apple Inc.
9            currency                                                USD
10                cik                                         0000320193
11               isin                                       US0378331005
12              cusip                                          037833100
13           exchange                               NASDAQ Global Select
14  exchangeShortName                                             NASDAQ
15           industry                               Consumer Electronics
16            website                              https://www.apple.com
17        description  Apple Inc. designs, manufactures, and markets ...
18                ceo                                Mr. Timothy D. Cook
19             sector                                         Technology
20            country                                                 US
21  fullTimeEmployees                                             164000
22              phone                                       408 996 1010
23            address                                 One Apple Park Way
24               city                                          Cupertino
25              state                                                 CA
26                zip                                              95014
27            dcfDiff                                            4.15176
28                dcf                                            150.082
29              image  https://financialmodelingprep.com/image-stock/...
30            ipoDate                                         1980-12-12
31       defaultImage                                              False
32              isEtf                                              False
33  isActivelyTrading                                               True
34              isAdr                                              False
35             isFund                                              False

In [64]:
pattern = '[A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z][^A-Z]*'

index = Company_df["index"]

index_list = []

for i in np.arange(0, len(index)):
   
    index_0_pattern = index[i]
    index_0_findall = re.findall(pattern,index_0_pattern)
    index_list.append(" ".join(index_0_findall).title())

Company_df["index"] = index_list

Company_df.columns =["Description Title","Description"]

In [68]:
Company_df

        Description Title                                        Description
0                  Symbol                                               AAPL
1                   Price                                             175.43
2                    Beta                                           1.296622
3                Vol  Avg                                           57939876
4                Mkt  Cap                                      2759285913979
5               Last  Div                                               0.96
6                   Range                                      124.17-176.39
7                 Changes                                               2.44
8           Company  Name                                         Apple Inc.
9                Currency                                                USD
10                    Cik                                         0000320193
11                   Isin                                       US0378331005
12                  Cusip                                          037833100
13               Exchange                               NASDAQ Global Select
14  Exchange  Short  Name                                             NASDAQ
15               Industry                               Consumer Electronics
16                Website                              https://www.apple.com
17            Description  Apple Inc. designs, manufactures, and markets ...
18                    Ceo                                Mr. Timothy D. Cook
19                 Sector                                         Technology
20                Country                                                 US
21  Full  Time  Employees                                             164000
22                  Phone                                       408 996 1010
23                Address                                 One Apple Park Way
24                   City                                          Cupertino
25                  State                                                 CA
26                    Zip                                              95014
27              Dcf  Diff                                            4.15176
28                    Dcf                                            150.082
29                  Image  https://financialmodelingprep.com/image-stock/...
30              Ipo  Date                                         1980-12-12
31         Default  Image                                              False
32                Is  Etf                                              False
33  Is  Actively  Trading                                               True
34                Is  Adr                                              False
35               Is  Fund                                              False

In [109]:
name = Company_df[Company_df["Description Title"] == "Company  Name"].values[0][1]
name

'Apple Inc.'

In [110]:
Stock_daily_df.index.name = name
Stock_daily_df

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
Apple Inc.,,,,,,,,,,,,,
0,2023-05-26,173.3200,175.7700,173.1100,175.4300,175.429993,54834975,54794100,2.1100,1.22000,175.15,"May 26, 23",0.012200
1,2023-05-25,172.4100,173.8950,171.6900,172.9900,172.990005,55889523,56058300,0.5800,0.33641,172.88,"May 25, 23",0.003364
2,2023-05-24,171.0900,172.4183,170.5200,171.8400,171.839996,43711588,45143500,0.7500,0.43837,171.51,"May 24, 23",0.004384
3,2023-05-23,173.1300,173.3794,171.2750,171.5600,171.559998,50745163,50747300,-1.5700,-0.90683,172.19,"May 23, 23",-0.009068
4,2023-05-22,173.9800,174.7100,173.4500,174.2000,174.199997,43570932,43570900,0.2200,0.12645,174.18,"May 22, 23",0.001264
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2018-06-04,47.9088,48.3550,47.8375,47.9575,45.831799,105064696,26266174,0.0487,0.10165,48.06,"June 04, 18",0.001017
1255,2018-06-01,46.9978,47.5650,46.9375,47.5600,45.451923,93770040,23442510,0.5622,1.20000,47.38,"June 01, 18",0.012000
1256,2018-05-31,46.8050,47.0575,46.5350,46.7175,44.646759,109931172,27482793,-0.0875,-0.18695,46.78,"May 31, 18",-0.001870
1257,2018-05-30,46.9300,47.0000,46.6950,46.8750,44.797279,74762188,18690547,-0.0550,-0.11720,46.83,"May 30, 18",-0.001172
1258,2018-05-29,46.9000,47.1875,46.7175,46.9750,44.892849,90056300,22514075,0.0750,0.15991,46.92,"May 29, 18",0.001599

## Market Cap

[Market Cap Link](https://site.financialmodelingprep.com/developer/docs/market-capitalization-api)

In [116]:
Market_cap_url = f"https://financialmodelingprep.com/api/v3/market-capitalization/AAPL?apikey={os.getenv('FinancialMP_key')}"
Market_cap_r   = requests.get(Market_cap_url)
Market_cap     = Market_cap_r.json()

In [117]:
Market_cap

[{'symbol': 'AAPL', 'date': '2023-05-26', 'marketCap': 2759285913979}]

In [118]:
Historical_market_cap_url = f"https://financialmodelingprep.com/api/v3/historical-market-capitalization/AAPL?limit=100&apikey={os.getenv('FinancialMP_key')}"
Historical_market_cap_r   = requests.get(Historical_market_cap_url)
Historical_market_cap     = Historical_market_cap_r.json()

In [119]:
pd.DataFrame(Historical_market_cap )

   symbol        date      marketCap
0    AAPL  2023-05-26  2769540426220
1    AAPL  2023-05-25  2731019770460
2    AAPL  2023-05-24  2712864543360
3    AAPL  2023-05-23  2708444140240
4    AAPL  2023-05-22  2750122226800
..    ...         ...            ...
95   AAPL  2023-01-10  2063854642419
96   AAPL  2023-01-09  2054698093100
97   AAPL  2023-01-06  2046330901480
98   AAPL  2023-01-05  1973709993080
99   AAPL  2023-01-04  1994864779440

[100 rows x 3 columns]

## NYSE: Holidays and Trading Hours

[NYSE Link](https://site.financialmodelingprep.com/developer/docs/is-the-market-open-api)

In [120]:
NYSE_trading_hourse_url = f"https://financialmodelingprep.com/api/v3/is-the-market-open?apikey={os.getenv('FinancialMP_key')}"
NYSE_trading_hourse_r   = requests.get(NYSE_trading_hourse_url)
NYSE_trading_hourse     = NYSE_trading_hourse_r.json()

In [123]:
NYSE_trading_hourse.keys()

dict_keys(['stockExchangeName', 'stockMarketHours', 'stockMarketHolidays', 'isTheStockMarketOpen', 'isTheEuronextMarketOpen', 'isTheForexMarketOpen', 'isTheCryptoMarketOpen'])

In [134]:
name = NYSE_trading_hourse.get('stockExchangeName')
name

'New York Stock Exchange'

In [133]:
stockMarketHours = NYSE_trading_hourse.get('stockMarketHours')
stockMarketHours

{'openingHour': '09:30 a.m. ET', 'closingHour': '04:00 p.m. ET'}

In [135]:
stockMarketHolidays = pd.DataFrame(NYSE_trading_hourse.get('stockMarketHolidays'))
stockMarketHolidays.index.name = name
stockMarketHolidays

,year,New Years Day,"Martin Luther King, Jr. Day",Washington's Birthday,Good Friday,Memorial Day,Juneteenth National Independence Day,Independence Day,Labor Day,Thanksgiving Day,Christmas
New York Stock Exchange,,,,,,,,,,,
0,2019,2019-01-01,2019-01-21,2019-02-18,2019-04-19,2019-05-27,None,2019-07-04,2019-09-02,2019-11-28,2019-12-25
1,2020,2020-01-01,2020-01-20,2020-02-17,2020-04-10,2020-05-25,None,2020-07-03,2020-09-07,2020-11-26,2020-12-25
2,2021,2021-01-01,2021-01-18,2021-02-15,2021-04-02,2021-05-31,None,2021-07-05,2021-09-06,2021-11-25,2021-12-24
3,2022,2022-01-01,2022-01-17,2022-02-21,2022-04-15,2022-05-30,2022-06-20,2022-07-04,2022-09-05,2022-11-24,2022-12-26
4,2023,2023-01-02,2023-01-16,2023-02-20,2023-04-07,2023-05-29,2023-06-19,2023-07-04,2023-09-04,2023-11-23,2023-12-25
5,2024,2024-01-01,2024-01-15,2024-02-19,2024-03-29,2024-05-27,2024-06-19,2024-07-04,2024-09-02,2024-11-28,2024-12-25

## Delisted Companies

[Delisted Companies Link](https://site.financialmodelingprep.com/developer/docs/delisted-companies-api)

In [137]:
Delisted_companies_url = f"https://financialmodelingprep.com/api/v3/delisted-companies?page=0&apikey={os.getenv('FinancialMP_key')}"
Delisted_companies_r   = requests.get(Delisted_companies_url)
Delisted_companies     = Delisted_companies_r.json()

In [140]:
Delisted_companies = pd.DataFrame(Delisted_companies)
Delisted_companies.columns = ["Symbol","Company Name","Exchange","IPO Date","Delisted Date"]
Delisted_companies

,Symbol,Company Name,Exchange,IPO Date,Delisted Date
0,SIRE,Sisecam Resources LP,NYSE,2015-11-06,2023-05-26
1,SUBS,Fount Subscription Economy ETF,AMEX,2021-10-28,2023-05-25
2,AQUA,Evoqua Water Technologies Corp.,NYSE,2017-11-02,2023-05-24
3,AILV,Alpha Intelligent - Large Cap Value ETF,AMEX,2021-12-02,2023-05-23
4,ORIA,Orion Biotech Opportunities Corp.,NASDAQ,2021-07-13,2023-05-17
...,...,...,...,...,...
95,USEQ,Invesco Russell 1000 Enhanced Equal Weight ETF,ETF,2017-08-24,2023-03-30
96,IVSG,Invesco Select Growth ETF,ETF,2020-12-22,2023-03-30
97,MSDAU,MSD Acquisition Corp.,NASDAQ,2021-03-24,2023-03-29
98,ATCO,Atlas Corp.,NYSE,2020-02-28,2023-03-28
99,AIMC,Altra Industrial Motion Corp.,NASDAQ,2006-12-15,2023-03-27

# STOCK LOOK UP TOOL

## Search via ticker and company name

[Ticker Search Link](https://site.financialmodelingprep.com/developer/docs/stock-ticker-symbol-lookup-api)

In [141]:
ticker_search_url = f"https://financialmodelingprep.com/api/v3/search?query=AA&limit=10&exchange=NASDAQ&apikey={os.getenv('FinancialMP_key')}"
ticker_search_r   = requests.get(ticker_search_url)
ticker_search     = ticker_search_r.json()

In [143]:
ticker_search = pd.DataFrame(ticker_search)
ticker_search.columns = ["Symbol","Name","Currency","Stock Exchange","Exchange Short Name"]
ticker_search

,Symbol,Name,Currency,Stock Exchange,Exchange Short Name
0,AAXJ,iShares MSCI All Country Asia ex Japan ETF,USD,NASDAQ Global Market,NASDAQ
1,AAWW,"Atlas Air Worldwide Holdings, Inc.",USD,NASDAQ Global Select,NASDAQ
2,AATC,Autoscope Technologies Corporation,USD,NASDAQ Capital Market,NASDAQ
3,AASCX,Thrivent Mid Cap Stock Fund Class A,USD,Nasdaq,NASDAQ
4,AAPU,Direxion Daily AAPL Bull 1.5X Shares,USD,NASDAQ Global Market,NASDAQ
5,AAPL,Apple Inc.,USD,NASDAQ Global Select,NASDAQ
6,AAPD,Direxion Daily AAPL Bear 1X Shares,USD,NASDAQ Global Market,NASDAQ
7,AAPB,GraniteShares ETF Trust - GraniteShares 2x Lon...,USD,NASDAQ Global Market,NASDAQ
8,AAON,"AAON, Inc.",USD,NASDAQ Global Select,NASDAQ
9,AAOI,"Applied Optoelectronics, Inc.",USD,NASDAQ Global Market,NASDAQ

# STOCK CALENDARS

## Historical Daily Stock Dividend

[Historical Daily Stock Dividend Link](https://site.financialmodelingprep.com/developer/docs/historical-stock-dividends-api)

In [144]:
Historical_dividends_url = f"https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/AAPL?apikey={os.getenv('FinancialMP_key')}"
Historical_dividends_r   = requests.get(Historical_dividends_url)
Historical_dividends     = Historical_dividends_r.json()

In [149]:
Historical_dividends.keys()

dict_keys(['symbol', 'historical'])

In [153]:
symbol = pd.DataFrame(Historical_dividends)
symbol

   symbol                                         historical
0    AAPL  {'date': '2023-05-12', 'label': 'May 12, 23', ...
1    AAPL  {'date': '2023-02-10', 'label': 'February 10, ...
2    AAPL  {'date': '2022-11-04', 'label': 'November 04, ...
3    AAPL  {'date': '2022-08-05', 'label': 'August 05, 22...
4    AAPL  {'date': '2022-05-06', 'label': 'May 06, 22', ...
..    ...                                                ...
74   AAPL  {'date': '1988-05-16', 'label': 'May 16, 88', ...
75   AAPL  {'date': '1988-02-12', 'label': 'February 12, ...
76   AAPL  {'date': '1987-11-17', 'label': 'November 17, ...
77   AAPL  {'date': '1987-08-10', 'label': 'August 10, 87...
78   AAPL  {'date': '1987-05-11', 'label': 'May 11, 87', ...

[79 rows x 2 columns]

In [159]:
historical = pd.DataFrame(Historical_dividends.get("historical"))
historical["Symbol"] = symbol["symbol"]

historical_reverse = historical.columns.to_list()

historical = historical[historical_reverse[::-1]]

historical

,Symbol,declarationDate,paymentDate,recordDate,dividend,adjDividend,label,date
0,AAPL,2023-05-04,2023-05-18,2023-05-15,0.24,0.240000,"May 12, 23",2023-05-12
1,AAPL,2022-12-19,2023-02-16,2022-12-28,0.23,0.230000,"February 10, 23",2023-02-10
2,AAPL,2022-10-27,2022-11-10,2022-11-07,0.23,0.230000,"November 04, 22",2022-11-04
3,AAPL,2022-07-28,2022-08-11,2022-08-08,0.23,0.230000,"August 05, 22",2022-08-05
4,AAPL,2022-04-28,2022-05-12,2022-05-09,0.23,0.230000,"May 06, 22",2022-05-06
...,...,...,...,...,...,...,...,...
74,AAPL,1988-04-29,1988-06-15,1988-05-20,0.08,0.000714,"May 16, 88",1988-05-16
75,AAPL,1988-01-29,1988-03-15,1988-02-19,0.08,0.000714,"February 12, 88",1988-02-12
76,AAPL,1987-11-13,1987-12-15,1987-11-23,0.08,0.000714,"November 17, 87",1987-11-17
77,AAPL,1987-07-31,1987-09-15,1987-08-14,0.06,0.000536,"August 10, 87",1987-08-10
78,AAPL,1987-04-22,1987-06-15,1987-05-15,0.12,0.000536,"May 11, 87",1987-05-11

## IPO Calander

[IPO Calander Link](https://site.financialmodelingprep.com/developer/docs/ipo-calendar-api)

In [161]:
IPO_Calander_url = f"https://financialmodelingprep.com/api/v3/ipo_calendar?from=2020-09-01&to=2020-11-01&apikey={os.getenv('FinancialMP_key')}"
IPO_Calander_r   = requests.get(IPO_Calander_url)
IPO_Calander     = IPO_Calander_r.json()

In [163]:
IPO_Calander = pd.DataFrame(IPO_Calander)
IPO_Calander.columns = ["Date","Company","Symbol","Exchange","Actions","Shares","Price Range","Market Cap"]
IPO_Calander

,Date,Company,Symbol,Exchange,Actions,Shares,Price Range,Market Cap
0,2020-11-02,543244.BO,543244.BO,BSE,Priced,210000.0,None,NaN
1,2020-10-30,Metal Hawk Limited,MHK.AX,ASX,Priced,22500000.0,0.14,3150000.0
2,2020-10-30,Natural Order Acquisition Corp.,NOAC,NasdaqCM,Priced,NaN,10.00,NaN
3,2020-10-30,"Ant Group Co., Ltd.",6688.HK,HKSE,Priced,NaN,None,NaN
4,2020-10-30,Pivotree Inc.,PVT.V,TSXV,Priced,7059000.0,6.35,44824650.0
...,...,...,...,...,...,...,...,...
219,2020-09-02,"Taysha Gene Therapies, Inc.",TSHA,None,Priced,NaN,None,157391320.0
220,2020-09-02,"CM Life Sciences, Inc.",CMLFU,NASDAQ Capital,Priced,38500000.0,10.00,385000000.0
221,2020-09-01,PAINREFORM LTD.,PRFX,NASDAQ Capital,Priced,2500000.0,8.00,20000000.0
222,2020-08-31,"Applied UV, Inc.",AUVI,NASDAQ Capital,Priced,1000000.0,5.00,5000000.0
223,2020-08-31,Hygo Energy Transition Ltd.,HYGO,None,Priced,NaN,None,557865000.0

## Earning Calander

[Earning Calander Link](https://site.financialmodelingprep.com/developer/docs/earnings-calendar-api)

In [164]:
Earning_Calander_url = f"https://financialmodelingprep.com/api/v3/earning_calendar?apikey={os.getenv('FinancialMP_key')}"
Earning_Calander_r   = requests.get(Earning_Calander_url)
Earning_Calander     = Earning_Calander_r.json()

In [166]:
Earning_Calander = pd.DataFrame(Earning_Calander)
Earning_Calander = Earning_Calander[["date","symbol","time","revenueEstimated","fiscalDateEnding","updatedFromDate"]]
Earning_Calander.columns = ["Date","Symbol","Time","Revenue Estimated","Fiscal Date Ending","Update From Date"]
Earning_Calander

,Date,Symbol,Time,Revenue Estimated,Fiscal Date Ending,Update From Date
0,2023-05-28,4813.T,bmo,NaN,2023-12-31,2023-05-28
1,2023-05-28,PTF.V,bmo,NaN,2023-03-31,2023-05-28
2,2023-05-28,PNDDF,bmo,NaN,2023-03-31,2023-05-28
3,2023-05-28,ALQ.AX,bmo,NaN,2023-09-30,2023-05-28
4,2023-05-28,METX,bmo,31714000.0,2023-03-31,2023-05-27
...,...,...,...,...,...,...
18706,2023-08-28,BNN.DE,bmo,NaN,2023-06-30,2023-05-27
18707,2023-08-28,AMS.AX,bmo,NaN,2023-09-30,2023-05-28
18708,2023-08-28,EMB.AX,bmo,NaN,2023-09-30,2023-05-27
18709,2023-08-28,QUTIF,bmo,NaN,2023-06-30,2023-05-27
18710,2023-08-28,GDNPF,bmo,NaN,2023-06-30,2023-05-28

# STOCK FUNDAMENTALS ANALYSIS

## Company Financial Ratios

[Company Financial Ratios Link](https://site.financialmodelingprep.com/developer/docs/financial-ratio-free-api)

In [167]:
Financial_Ratio_url = f"https://financialmodelingprep.com/api/v3/ratios-ttm/AAPL?apikey={os.getenv('FinancialMP_key')}"
Financial_Ratio_r   = requests.get(Financial_Ratio_url)
Financial_Ratio    = Financial_Ratio_r.json()

In [172]:
Financial_Ratio_df = pd.DataFrame(Financial_Ratio).T.reset_index()
Financial_Ratio_df

                                    index          0
0                         dividendYielTTM   0.005301
1               dividendYielPercentageTTM   0.530126
2                              peRatioTTM  29.362925
3                             pegRatioTTM   3.468495
4                          payoutRatioTTM   0.158310
5                         currentRatioTTM   0.940354
6                           quickRatioTTM   0.764281
7                            cashRatioTTM   0.205597
8               daysOfSalesOutstandingTTM  34.025721
9           daysOfInventoryOutstandingTTM  12.480999
10                      operatingCycleTTM  20.870903
11           daysOfPayablesOutstandingTTM  71.638133
12                 cashConversionCycleTTM -34.534906
13                   grossProfitMarginTTM   0.431810
14               operatingProfitMarginTTM   0.291627
15                  pretaxProfitMarginTTM   0.290131
16                     netProfitMarginTTM   0.244929
17                    effectiveTaxRateTTM   0.155798
18                      returnOnAssetsTTM   0.283963
19                      returnOnEquityTTM   1.657197
20             returnOnCapitalEmployedTTM   0.529524
21                     netIncomePerEBTTTM   0.844202
22                          ebtPerEbitTTM   0.994871
23                      ebitPerRevenueTTM   0.291627
24                           debtRatioTTM   0.812867
25                     debtEquityRatioTTM   1.763490
26        longTermDebtToCapitalizationTTM   0.609558
27           totalDebtToCapitalizationTTM   0.638139
28                    interestCoverageTTM  32.280540
29                 cashFlowToDebtRatioTTM   0.999717
30             companyEquityMultiplierTTM   5.343801
31                 receivablesTurnoverTTM  10.727179
32                    payablesTurnoverTTM   5.095052
33                   inventoryTurnoverTTM  29.244453
34                  fixedAssetTurnoverTTM   8.873566
35                       assetTurnoverTTM   1.159366
36           operatingCashFlowPerShareTTM   6.941340
37                freeCashFlowPerShareTTM   6.175274
38                        cashPerShareTTM   3.539080
39         operatingCashFlowSalesRatioTTM   0.284564
40  freeCashFlowOperatingCashFlowRatioTTM   0.889637
41              cashFlowCoverageRatiosTTM   0.999717
42             shortTermCoverageRatiosTTM   8.715126
43     capitalExpenditureCoverageRatioTTM   9.061022
44   dividendPaidAndCapexCoverageRatioTTM   4.054762
45                 priceBookValueRatioTTM  44.556460
46                    priceToBookRatioTTM  44.556460
47                   priceToSalesRatioTTM   7.165208
48                  priceEarningsRatioTTM  29.362925
49           priceToFreeCashFlowsRatioTTM  28.303271
50      priceToOperatingCashFlowsRatioTTM  25.273219
51                  priceCashFlowRatioTTM  25.273219
52          priceEarningsToGrowthRatioTTM  -9.427044
53                     priceSalesRatioTTM   7.165208
54                       dividendYieldTTM   0.005301
55             enterpriseValueMultipleTTM  22.976491
56                      priceFairValueTTM  44.556460
57                    dividendPerShareTTM   0.930000

In [173]:
pattern = '[A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z][^A-Z]*'

index = Financial_Ratio_df["index"]

index_list = []

for i in np.arange(0, len(index)):
   
    index_0_pattern = index[i]
    index_0_findall = re.findall(pattern,index_0_pattern)
    index_list.append(" ".join(index_0_findall).title())

Financial_Ratio_df["index"] = index_list

Financial_Ratio_df.columns =["Description Title","Description"]

In [174]:
Financial_Ratio_df

                                 Description Title  Description
0                              Dividend Yiel T T M     0.005301
1                   Dividend Yiel Percentage T T M     0.530126
2                                   Pe Ratio T T M    29.362925
3                                  Peg Ratio T T M     3.468495
4                               Payout Ratio T T M     0.158310
5                              Current Ratio T T M     0.940354
6                                Quick Ratio T T M     0.764281
7                                 Cash Ratio T T M     0.205597
8                  Days Of Sales Outstanding T T M    34.025721
9              Days Of Inventory Outstanding T T M    12.480999
10                           Operating Cycle T T M    20.870903
11              Days Of Payables Outstanding T T M    71.638133
12                     Cash Conversion Cycle T T M   -34.534906
13                       Gross Profit Margin T T M     0.431810
14                   Operating Profit Margin T T M     0.291627
15                      Pretax Profit Margin T T M     0.290131
16                         Net Profit Margin T T M     0.244929
17                        Effective Tax Rate T T M     0.155798
18                          Return On Assets T T M     0.283963
19                          Return On Equity T T M     1.657197
20                Return On Capital Employed T T M     0.529524
21                      Net Income Per E B T T T M     0.844202
22                              Ebt Per Ebit T T M     0.994871
23                          Ebit Per Revenue T T M     0.291627
24                                Debt Ratio T T M     0.812867
25                         Debt Equity Ratio T T M     1.763490
26          Long Term Debt To Capitalization T T M     0.609558
27              Total Debt To Capitalization T T M     0.638139
28                         Interest Coverage T T M    32.280540
29                   Cash Flow To Debt Ratio T T M     0.999717
30                 Company Equity Multiplier T T M     5.343801
31                      Receivables Turnover T T M    10.727179
32                         Payables Turnover T T M     5.095052
33                        Inventory Turnover T T M    29.244453
34                      Fixed Asset Turnover T T M     8.873566
35                            Asset Turnover T T M     1.159366
36             Operating Cash Flow Per Share T T M     6.941340
37                  Free Cash Flow Per Share T T M     6.175274
38                            Cash Per Share T T M     3.539080
39           Operating Cash Flow Sales Ratio T T M     0.284564
40  Free Cash Flow Operating Cash Flow Ratio T T M     0.889637
41                 Cash Flow Coverage Ratios T T M     0.999717
42                Short Term Coverage Ratios T T M     8.715126
43        Capital Expenditure Coverage Ratio T T M     9.061022
44    Dividend Paid And Capex Coverage Ratio T T M     4.054762
45                    Price Book Value Ratio T T M    44.556460
46                       Price To Book Ratio T T M    44.556460
47                      Price To Sales Ratio T T M     7.165208
48                      Price Earnings Ratio T T M    29.362925
49            Price To Free Cash Flows Ratio T T M    28.303271
50       Price To Operating Cash Flows Ratio T T M    25.273219
51                     Price Cash Flow Ratio T T M    25.273219
52            Price Earnings To Growth Ratio T T M    -9.427044
53                         Price Sales Ratio T T M     7.165208
54                            Dividend Yield T T M     0.005301
55                 Enterprise Value Multiple T T M    22.976491
56                          Price Fair Value T T M    44.556460
57                        Dividend Per Share T T M     0.930000

## Company Key Metrics

[Company Key Metrics Link](https://site.financialmodelingprep.com/developer/docs/company-key-metrics-api)

In [179]:
Key_metrics_url = f"https://financialmodelingprep.com/api/v3/key-metrics-ttm/AAPL?limit=40&apikey={os.getenv('FinancialMP_key')}"
Key_metrics_r   = requests.get(Key_metrics_url)
Key_metrics   = Key_metrics_r.json()

In [180]:
Key_metrics = pd.DataFrame(Key_metrics).T.reset_index()
Key_metrics

                                        index             0
0                          revenuePerShareTTM  2.439293e+01
1                        netIncomePerShareTTM  5.974541e+00
2                operatingCashFlowPerShareTTM  6.941340e+00
3                     freeCashFlowPerShareTTM  6.175274e+00
4                             cashPerShareTTM  3.539080e+00
5                        bookValuePerShareTTM  3.937252e+00
6                tangibleBookValuePerShareTTM  3.937252e+00
7               shareholdersEquityPerShareTTM  3.937252e+00
8                     interestDebtPerShareTTM  7.163672e+00
9                                marketCapTTM  2.759286e+12
10                         enterpriseValueTTM  2.844214e+12
11                                 peRatioTTM  2.936292e+01
12                       priceToSalesRatioTTM  7.165208e+00
13                               pocfratioTTM  2.527322e+01
14                               pfcfRatioTTM  2.830327e+01
15                                 pbRatioTTM  4.455646e+01
16                                ptbRatioTTM  4.455646e+01
17                               evToSalesTTM  7.385746e+00
18               enterpriseValueOverEBITDATTM  2.297649e+01
19                   evToOperatingCashFlowTTM  2.595465e+01
20                        evToFreeCashFlowTTM  2.917442e+01
21                           earningsYieldTTM  3.405655e-02
22                       freeCashFlowYieldTTM  3.533161e-02
23                            debtToEquityTTM  4.343801e+00
24                            debtToAssetsTTM  8.128673e-01
25                         netDebtToEBITDATTM  6.860762e-01
26                            currentRatioTTM  9.403539e-01
27                        interestCoverageTTM  3.228054e+01
28                           incomeQualityTTM  1.161820e+00
29                           dividendYieldTTM  5.301260e-03
30                 dividendYieldPercentageTTM  5.301260e-01
31                             payoutRatioTTM  1.583105e-01
32  salesGeneralAndAdministrativeToRevenueTTM  0.000000e+00
33        researchAndDevelopementToRevenueTTM  7.458939e-02
34                intangiblesToTotalAssetsTTM  0.000000e+00
35                capexToOperatingCashFlowTTM -1.103628e-01
36                          capexToRevenueTTM -3.140524e-02
37                     capexToDepreciationTTM -1.053117e+00
38         stockBasedCompensationToRevenueTTM  2.625846e-02
39                            grahamNumberTTM  2.300595e+01
40                                    roicTTM  3.952921e-01
41                  returnOnTangibleAssetsTTM  2.839625e-01
42                            grahamNetNetTTM -1.162114e+01
43                          workingCapitalTTM -7.162000e+09
44                      tangibleAssetValueTTM  6.215800e+10
45                    netCurrentAssetValueTTM -1.570890e+11
46                         investedCapitalTTM  1.763490e+00
47                      averageReceivablesTTM  4.503950e+10
48                         averagePayablesTTM  5.043150e+10
49                        averageInventoryTTM  7.151000e+09
50                    daysSalesOutstandingTTM  3.402572e+01
51                 daysPayablesOutstandingTTM  7.163813e+01
52                   daysOfInventoryOnHandTTM  1.248100e+01
53                     receivablesTurnoverTTM  1.072718e+01
54                        payablesTurnoverTTM  5.095052e+00
55                       inventoryTurnoverTTM  2.924445e+01
56                                     roeTTM  1.657197e+00
57                           capexPerShareTTM -7.660659e-01
58                        dividendPerShareTTM  9.300000e-01
59                         debtToMarketCapTTM  9.785213e-02

In [181]:
pattern = '[A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z][^A-Z]*'

index = Key_metrics["index"]

index_list = []

for i in np.arange(0, len(index)):
   
    index_0_pattern = index[i]
    index_0_findall = re.findall(pattern,index_0_pattern)
    index_list.append(" ".join(index_0_findall).title())

Key_metrics["index"] = index_list

Key_metrics.columns =["Description Title","Description"]
Key_metrics

                                    Description Title   Description
0                             Revenue Per Share T T M  2.439293e+01
1                          Net Income Per Share T T M  5.974541e+00
2                 Operating Cash Flow Per Share T T M  6.941340e+00
3                      Free Cash Flow Per Share T T M  6.175274e+00
4                                Cash Per Share T T M  3.539080e+00
5                          Book Value Per Share T T M  3.937252e+00
6                 Tangible Book Value Per Share T T M  3.937252e+00
7                 Shareholders Equity Per Share T T M  3.937252e+00
8                       Interest Debt Per Share T T M  7.163672e+00
9                                    Market Cap T T M  2.759286e+12
10                             Enterprise Value T T M  2.844214e+12
11                                     Pe Ratio T T M  2.936292e+01
12                         Price To Sales Ratio T T M  7.165208e+00
13                                    Pocfratio T T M  2.527322e+01
14                                   Pfcf Ratio T T M  2.830327e+01
15                                     Pb Ratio T T M  4.455646e+01
16                                    Ptb Ratio T T M  4.455646e+01
17                                  Ev To Sales T T M  7.385746e+00
18            Enterprise Value Over E B I T D A T T M  2.297649e+01
19                    Ev To Operating Cash Flow T T M  2.595465e+01
20                         Ev To Free Cash Flow T T M  2.917442e+01
21                               Earnings Yield T T M  3.405655e-02
22                         Free Cash Flow Yield T T M  3.533161e-02
23                               Debt To Equity T T M  4.343801e+00
24                               Debt To Assets T T M  8.128673e-01
25                      Net Debt To E B I T D A T T M  6.860762e-01
26                                Current Ratio T T M  9.403539e-01
27                            Interest Coverage T T M  3.228054e+01
28                               Income Quality T T M  1.161820e+00
29                               Dividend Yield T T M  5.301260e-03
30                    Dividend Yield Percentage T T M  5.301260e-01
31                                 Payout Ratio T T M  1.583105e-01
32  Sales General And Administrative To Revenue T T M  0.000000e+00
33         Research And Developement To Revenue T T M  7.458939e-02
34                  Intangibles To Total Assets T T M  0.000000e+00
35                 Capex To Operating Cash Flow T T M -1.103628e-01
36                             Capex To Revenue T T M -3.140524e-02
37                        Capex To Depreciation T T M -1.053117e+00
38          Stock Based Compensation To Revenue T T M  2.625846e-02
39                                Graham Number T T M  2.300595e+01
40                                         Roic T T M  3.952921e-01
41                    Return On Tangible Assets T T M  2.839625e-01
42                               Graham Net Net T T M -1.162114e+01
43                              Working Capital T T M -7.162000e+09
44                         Tangible Asset Value T T M  6.215800e+10
45                      Net Current Asset Value T T M -1.570890e+11
46                             Invested Capital T T M  1.763490e+00
47                          Average Receivables T T M  4.503950e+10
48                             Average Payables T T M  5.043150e+10
49                            Average Inventory T T M  7.151000e+09
50                       Days Sales Outstanding T T M  3.402572e+01
51                    Days Payables Outstanding T T M  7.163813e+01
52                    Days Of Inventory On Hand T T M  1.248100e+01
53                         Receivables Turnover T T M  1.072718e+01
54                            Payables Turnover T T M  5.095052e+00
55                           Inventory Turnover T T M  2.924445e+01
56                                          Roe T T M  1.657197e+00
57                              Capex Per Share T T M -7.660659e-01
58                           Dividend Per Share T T M  9.300000e-01
59                           Debt To Market Cap T T M  9.785213e-02

## Company Enterprise Values

[Company Enterprise Values Link](https://site.financialmodelingprep.com/developer/docs/company-enterprise-value-api)

In [192]:
Enterprise_value_url = f"https://financialmodelingprep.com/api/v3/enterprise-values/AAPL?limit=40&apikey={os.getenv('FinancialMP_key')}"
Enterprise_value_r   = requests.get(Enterprise_value_url)
Enterprise_value   = Enterprise_value_r.json()

In [194]:
Enterprise_value = pd.DataFrame(Enterprise_value)
Enterprise_value.columns = ["Symbol","Date","Stock Price","Number Of Shares","Market Capitalization","Minus Cash And Cash Equivalents","Add Total Debt","Enterprise Value"]
Enterprise_value

,Symbol,Date,Stock Price,Number Of Shares,Market Capitalization,Minus Cash And Cash Equivalents,Add Total Debt,Enterprise Value
0,AAPL,2022-09-24,150.430000,16215963000,2.439367e+12,23646000000,120069000000,2535790314090
1,AAPL,2022-09-24,150.430000,16215963000,2.439367e+12,23646000000,120069000000,2535790314090
2,AAPL,2021-09-25,146.920000,16701272000,2.453751e+12,34940000000,124719000000,2543529882240
3,AAPL,2020-09-26,112.280000,17352119000,1.948296e+12,38016000000,112436000000,2022715921320
4,AAPL,2019-09-28,54.705000,18471336000,1.010474e+12,48844000000,108047000000,1069677435880
5,AAPL,2018-09-29,56.435000,19821508000,1.118627e+12,25913000000,114483000000,1207196803980
6,AAPL,2017-09-30,38.530000,20868968000,8.040813e+11,20289000000,115680000000,899472337040
7,AAPL,2016-09-24,28.177500,21883280000,6.166161e+11,20484000000,87032000000,683164122200
8,AAPL,2015-09-26,28.677500,23013684000,6.599749e+11,21120000000,64462000000,703316922910
9,AAPL,2014-09-27,25.187500,24342288000,6.131214e+11,13844000000,35295000000,634572379000
10,AAPL,2013-09-28,17.241100,25909268000,4.467043e+11,14259000000,16960000000,449405280514
11,AAPL,2012-09-29,23.825200,26174904000,6.236223e+11,10746000000,0,612876322780
12,AAPL,2011-09-24,14.439300,25879224000,3.736779e+11,9815000000,0,363862879103
13,AAPL,2010-09-25,10.440000,25464908000,2.658536e+11,11261000000,0,254592639520
14,AAPL,2009-09-26,6.513200,25004448000,1.628590e+11,5263000000,0,157595970713
15,AAPL,2008-09-27,4.580000,24684576000,1.130554e+11,11875000000,0,101180358080
16,AAPL,2007-09-29,5.481100,24208660000,1.326901e+11,9352000000,0,123338086325
17,AAPL,2006-09-30,2.749300,23633624000,6.497592e+10,6392000000,0,58583922463
18,AAPL,2005-09-24,1.900000,22636292000,4.300895e+10,3491000000,0,39517954800
19,AAPL,2004-09-25,0.665900,20809040000,1.385674e+10,2969000000,0,10887739736
20,AAPL,2003-09-27,0.369500,20195336000,7.462177e+09,3396000000,304000000,4370176652
21,AAPL,2002-09-28,0.262857,19881232000,5.225921e+09,2252000000,316000000,3289920999
22,AAPL,2001-09-29,0.276964,19354328000,5.360452e+09,2310000000,317000000,3367452100
23,AAPL,2000-09-30,0.459821,18175808000,8.357618e+09,1191000000,300000000,7466618210
24,AAPL,1999-09-25,0.579799,16033584000,9.296256e+09,1326000000,300000000,8270255969
25,AAPL,1998-09-25,0.345982,14781088000,5.113990e+09,1481000000,954000000,4586990388
26,AAPL,1997-09-26,0.190290,14118944000,2.686694e+09,1230000000,976000000,2432693853
27,AAPL,1996-09-27,0.199219,13858208000,2.760818e+09,1552000000,1135000000,2343818339
28,AAPL,1995-09-29,0.332589,13781264000,4.583497e+09,756000000,764000000,4591496812
29,AAPL,1994-09-30,0.300781,13298320000,3.999882e+09,1203488000,596672000,3393065987
30,AAPL,1993-09-30,0.208705,13342000000,2.784542e+09,676400000,823200000,2931342110
31,AAPL,1992-09-30,0.402902,13718880000,5.527364e+09,498600000,184500000,5213264189
32,AAPL,1991-09-30,0.441964,13448682171,5.943833e+09,604100000,148600000,5488333367
33,AAPL,1990-09-30,0.272321,14071111111,3.831859e+09,374700000,122600000,3579759048
34,AAPL,1989-09-30,0.397321,14363841808,5.707056e+09,438300000,56800000,5325555990
35,AAPL,1988-09-30,0.386161,14556363636,5.621100e+09,545700000,127900000,5203299938
36,AAPL,1987-09-30,0.504464,14674698795,7.402857e+09,565100000,0,6837757252
37,AAPL,1986-09-30,0.149554,14373333333,2.149589e+09,576200000,0,1573389493
38,AAPL,1985-09-30,0.070313,13708800000,9.639069e+08,337000000,0,626906854

## Companies Historical Discounted cash flow value

[CDF Link](https://site.financialmodelingprep.com/developer/docs/companies-dcf-reports-free-api)

In [195]:
Current_dcf_url = f"https://financialmodelingprep.com/api/v3/discounted-cash-flow/AAPL?apikey={os.getenv('FinancialMP_key')}"
Current_dcf_r   = requests.get(Current_dcf_url)
Current_dcf   = Current_dcf_r.json()

In [57]:
Current_dcf

[{'symbol': 'AAPL',
  'date': '2023-05-25',
  'dcf': 175.1883806294802,
  'Stock Price': 173.74}]

In [196]:
Historical_dcf_url = f"https://financialmodelingprep.com/api/v3/historical-discounted-cash-flow-statement/AAPL?apikey={os.getenv('FinancialMP_key')}"
Historical_dcf_r   = requests.get(Historical_dcf_url)
Historical_dcf   = Historical_dcf_r.json()

In [198]:
pd.DataFrame(Historical_dcf)

  symbol        date   price     dcf
0   AAPL  2022-09-24  149.45  150.91
1   AAPL  2021-09-25  148.64  150.73
2   AAPL  2020-09-26  115.05  117.24
3   AAPL  2019-09-28   62.26   64.91
4   AAPL  2018-09-29   53.06   54.37

## Company Rating

[Company Rating](https://site.financialmodelingprep.com/developer/docs/companies-rating-free-api)

In [203]:
Company_rating_url = f"https://financialmodelingprep.com/api/v3/rating/AAPL?apikey={os.getenv('FinancialMP_key')}"
Company_rating_r   = requests.get(Company_rating_url)
Company_rating   = Company_rating_r.json()

In [204]:
Company_rating = pd.DataFrame(Company_rating).T.reset_index()
Company_rating

                             index           0
0                           symbol        AAPL
1                             date  2023-05-26
2                           rating           S
3                      ratingScore           5
4             ratingRecommendation  Strong Buy
5            ratingDetailsDCFScore           5
6   ratingDetailsDCFRecommendation  Strong Buy
7            ratingDetailsROEScore           5
8   ratingDetailsROERecommendation  Strong Buy
9            ratingDetailsROAScore           3
10  ratingDetailsROARecommendation     Neutral
11            ratingDetailsDEScore           5
12   ratingDetailsDERecommendation  Strong Buy
13            ratingDetailsPEScore           5
14   ratingDetailsPERecommendation  Strong Buy
15            ratingDetailsPBScore           5
16   ratingDetailsPBRecommendation  Strong Buy

In [205]:
pattern = '[A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z][^A-Z]*'

index = Company_rating["index"]

index_list = []

for i in np.arange(0, len(index)):
   
    index_0_pattern = index[i]
    index_0_findall = re.findall(pattern,index_0_pattern)
    index_list.append(" ".join(index_0_findall).title())

Company_rating["index"] = index_list

Company_rating.columns =["Description Title","Description"]
Company_rating

                      Description Title Description
0                                Symbol        AAPL
1                                  Date  2023-05-26
2                                Rating           S
3                          Rating Score           5
4                 Rating Recommendation  Strong Buy
5            Rating Details D C F Score           5
6   Rating Details D C F Recommendation  Strong Buy
7            Rating Details R O E Score           5
8   Rating Details R O E Recommendation  Strong Buy
9            Rating Details R O A Score           3
10  Rating Details R O A Recommendation     Neutral
11             Rating Details D E Score           5
12    Rating Details D E Recommendation  Strong Buy
13             Rating Details P E Score           5
14    Rating Details P E Recommendation  Strong Buy
15             Rating Details P B Score           5
16    Rating Details P B Recommendation  Strong Buy

In [214]:
Historical_Company_rating_url = f"https://financialmodelingprep.com/api/v3/historical-rating/AAPL?limit=100&apikey={os.getenv('FinancialMP_key')}"
Historical_Company_rating_r   = requests.get(Historical_Company_rating_url)
Historical_Company_rating  = Historical_Company_rating_r.json()

In [215]:
Historical_Company_rating = pd.DataFrame(Historical_Company_rating)
Historical_Company_rating

,symbol,date,rating,ratingScore,ratingRecommendation,ratingDetailsDCFScore,ratingDetailsDCFRecommendation,ratingDetailsROEScore,ratingDetailsROERecommendation,ratingDetailsROAScore,ratingDetailsROARecommendation,ratingDetailsDEScore,ratingDetailsDERecommendation,ratingDetailsPEScore,ratingDetailsPERecommendation,ratingDetailsPBScore,ratingDetailsPBRecommendation
0,AAPL,2023-05-26,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
1,AAPL,2023-05-25,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
2,AAPL,2023-05-24,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
3,AAPL,2023-05-23,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
4,AAPL,2023-05-22,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AAPL,2022-12-27,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
96,AAPL,2022-12-23,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
97,AAPL,2022-12-22,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
98,AAPL,2022-12-21,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
99,AAPL,2022-12-20,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy

In [217]:
pattern = '[A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z][^A-Z]*'

index = Historical_Company_rating.columns.to_list()

index_list = []

for i in np.arange(0, len(index)):
   
    index_0_pattern = index[i]
    index_0_findall = re.findall(pattern,index_0_pattern)
    index_list.append(" ".join(index_0_findall).title())

Historical_Company_rating.columns = index_list

Historical_Company_rating

,Symbol,Date,Rating,Rating Score,Rating Recommendation,Rating Details D C F Score,Rating Details D C F Recommendation,Rating Details R O E Score,Rating Details R O E Recommendation,Rating Details R O A Score,Rating Details R O A Recommendation,Rating Details D E Score,Rating Details D E Recommendation,Rating Details P E Score,Rating Details P E Recommendation,Rating Details P B Score,Rating Details P B Recommendation
0,AAPL,2023-05-26,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
1,AAPL,2023-05-25,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
2,AAPL,2023-05-24,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
3,AAPL,2023-05-23,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
4,AAPL,2023-05-22,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AAPL,2022-12-27,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
96,AAPL,2022-12-23,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
97,AAPL,2022-12-22,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
98,AAPL,2022-12-21,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy
99,AAPL,2022-12-20,S,5,Strong Buy,5,Strong Buy,5,Strong Buy,3,Neutral,5,Strong Buy,5,Strong Buy,5,Strong Buy