# Libraries

In [1]:
# Core Libraries 
import pandas as pd
import requests

* Libraries Version

In [2]:
print(f"Pandas Version: {pd.__version__} \n ----")
print(f"Requests Version: {requests.__version__}")

Pandas Version: 2.0.2
 ----
Requests Version: 2.31.0

# Yahoo Finance Data Sets

[Yahoo Finance Website](https://pypi.org/project/yfinance/)

! Sometimes Yfinance functions are not working.

## Libraries

In [3]:
import yfinance as yf

In [4]:
print(f"yfinance Version: {yf.__version__}")

yfinance Version: 0.2.18

In [3]:
def Yahoo_Finance(ticker,period = None,start_date = None, end_date = None):

        Company_ticker = yf.Ticker(ticker)

        if period is not None:
            Data = Company_ticker.history(period= period)
            

        elif start_date is not None:
            Data = yf.download(Company_ticker.ticker, start= start_date)

        elif end_date is not None:
            Data = yf.download(Company_ticker.ticker, end = end_date)

        elif start_date and end_date is not None:
            Data = yf.download(Company_ticker.ticker, start= start_date, end= end_date) 
        
        else:
            Data = yf.download(Company_ticker.ticker, period="max")

        def majorholder():
            majorholder = Company_ticker.major_holders
            return majorholder

        major = majorholder()

        return Data, major

## Data Sets

In [4]:
# F = Ford Motor Company

Ford_ticker = yf.Ticker("F")
Ford_Data   = Ford_ticker.history(period="min")
Ford_Data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-05-09 00:00:00-04:00,11.89,11.93,11.78,11.86,37509423,0.0,0.0

In [5]:
# GE = General Electric Company

GE_data = yf.download("GE", start="2010-01-01")  
GE_data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,91.394943,93.917015,90.974602,92.776077,68.134644,11170816
2010-01-05,92.836128,94.097160,92.776077,93.256470,68.487457,10749611
2010-01-06,93.256470,93.796913,92.716026,92.776077,68.134644,9236570
2010-01-07,92.956223,98.961151,92.655975,97.580017,71.662643,30886702
2010-01-08,97.940308,100.222183,97.700111,99.681740,73.206161,19169701
...,...,...,...,...,...,...
2023-05-03,101.879997,102.949997,101.309998,101.769997,101.769997,4722700
2023-05-04,101.489998,101.750000,97.410004,99.320000,99.320000,7227000
2023-05-05,100.580002,101.760002,99.750000,100.239998,100.239998,5029000
2023-05-08,100.220001,101.110001,100.220001,100.919998,100.919998,3417500
2023-05-09,100.769997,101.900002,100.825302,101.000000,101.000000,4784006

## Yahoo Finance Important Functions

In [28]:
# MCD = McDonald's Corporation 

MCD = yf.Ticker("MCD")

info_keys = MCD.info.keys()          # Company information

MCD_info = []

for i in info_keys:
    v = MCD.info.get(i)
    MCD_info.append(v)
MCD_info = pd.DataFrame(MCD_info, index = info_keys, columns=["Information"])
MCD_info.index.name = "Title"

MCD_info

                                  Information
Title
address1           110 North Carpenter Street
city                                  Chicago
state                                      IL
zip                                     60607
country                         United States
...                                       ...
grossMargins                          0.57531
ebitdaMargins                         0.53445
operatingMargins                       0.4541
financialCurrency                         USD
trailingPegRatio                       3.6629

[126 rows x 1 columns]

In [10]:
MCD.major_holders

        0                                      1
0   0.21%        % of Shares Held by All Insider
1  70.74%       % of Shares Held by Institutions
2  70.89%        % of Float Held by Institutions
3    3619  Number of Institutions Holding Shares

In [11]:
MCD.mutualfund_holders

,Holder,Shares,Date Reported,% Out,Value
0,Vanguard Total Stock Market Index Fund,22260189,2022-12-30,0.0305,6603707750
1,Vanguard 500 Index Fund,16931593,2022-12-30,0.0232,5022926441
2,Fidelity 500 Index Fund,8029240,2023-02-27,0.0110,2381954367
3,SPDR S&P 500 ETF Trust,7929696,2023-03-30,0.0109,2352423644
4,iShares Core S&P 500 ETF,6536983,2023-02-27,0.0090,1939261400
5,Vanguard Growth Index Fund,6182004,2022-12-30,0.0085,1833953329
6,Vanguard Specialized-Dividend Growth Fund,5996876,2023-01-30,0.0082,1779033256
7,SPDR Dow Jones Industrial Average ETF,5596404,2023-03-30,0.0077,1660229231
8,Vanguard/Wellington Fund Inc.,5491145,2022-11-29,0.0075,1629003095
9,Vanguard Institutional Index Fund-Institutiona...,5132543,2022-12-30,0.0070,1522620225

In [12]:
pd.DataFrame(MCD.news)

,uuid,title,publisher,link,providerPublishTime,type,thumbnail,relatedTickers
0,4f216308-3267-480b-98af-60a38b0f0601,Papa John's CEO sees a place for AI in the piz...,Yahoo Finance,https://finance.yahoo.com/news/papa-johns-ceo-...,1683654925,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[WEN, DPZ, YUM, PZZA, SBUX, CMG, MCD, QSR]"
1,79d81aa9-d4e8-33e1-a7d8-bce0c5470acf,These 2 Fast Food Stocks Look Delicious in a R...,GuruFocus.com,https://finance.yahoo.com/news/2-fast-food-sto...,1683647722,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[MCD, QSR]"
2,c72e3b87-a0a9-31c8-80fd-88ebab57d29d,2 Magnificent Stocks to Buy In a Bear Market,Motley Fool,https://finance.yahoo.com/m/c72e3b87-a0a9-31c8...,1683644400,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[MCD, SBUX]"
3,a794a474-126a-4639-96be-69827e3d8a04,Chili's parent CEO: Why half-pound burgers are...,Yahoo Finance,https://finance.yahoo.com/news/chilis-parent-c...,1683634559,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[QSR, EAT, YUM, BRK-A, BRK-B, DRI, MCD, SBUX, ..."
4,e4aa643f-375a-357a-92d9-1d263f991002,UPDATE 1-Byron Allen sues McDonald's for alleg...,Reuters,https://finance.yahoo.com/news/1-byron-allen-s...,1683579898,STORY,NaN,[MCD]
5,de6edd2b-70d4-3618-bd6a-452605008678,"Yum! Brands Joins Chipotle, McDonalds And Star...",Benzinga,https://finance.yahoo.com/news/yum-brands-join...,1683567367,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[CMG, MCD, YUM, SBUX]"
6,b24268b9-58ea-32e7-a606-425d1057e06e,Byron Allen sues McDonald's for allegedly lyin...,Reuters,https://finance.yahoo.com/news/byron-allen-sue...,1683566781,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,[MCD]
7,adf7de00-98ce-3ca1-b284-7a663c301db7,Beat the Market the Zacks Way: Procter & Gambl...,Zacks,https://finance.yahoo.com/news/beat-market-zac...,1683545171,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[^GSPC, NVDA, GIS, PG, MCD, MTW]"

In [31]:
def news(self):
        self = yf.Ticker(self)
        news = self.news
        news = pd.DataFrame(news)
        news = news[["title","publisher","link"]]
        news.columns = ["Title","Publisher","News Link"]

        return news

In [32]:
news("TSLA")

,Title,Publisher,News Link
0,Is Tesla Stock A Buy Or A Sell Right Now As El...,Investor's Business Daily,https://finance.yahoo.com/m/194805bc-4581-3755...
1,Rivian Posts Better-Than-Expected Results. Is ...,Investor's Business Daily,https://finance.yahoo.com/m/57faf6ff-34ba-37b7...
2,UPDATE 1-Rivian quarterly revenue beats estima...,Reuters,https://finance.yahoo.com/news/1-rivian-quarte...
3,Rivian quarterly revenue beats estimates on hi...,Reuters,https://finance.yahoo.com/news/rivian-quarterl...
4,California police department transitioning to ...,Fox Business,https://finance.yahoo.com/news/california-poli...
5,This Police Department Is Switching Over to Us...,TheStreet.com,https://finance.yahoo.com/m/c3d34136-c29b-31fd...
6,2 Stocks to Buy Now and Hold for Decades,Motley Fool,https://finance.yahoo.com/m/107ddf1a-9c20-3b2a...
7,12 Best Fast Growth Stocks to Buy Now,Insider Monkey,https://finance.yahoo.com/news/12-best-fast-gr...