### Math Operators

Examples of expressions:

In [1]:
2 + 3 * 6

20

In [2]:
(2 + 3) * 6

30

In [3]:
2 ** 8

256

In [4]:
23 // 7

3

In [5]:
23 % 7

2

### Augmented Assignment Operators

Examples:

In Jupyter Notebook, You don't need a extra print function for get output.

In [6]:
greeting = 'Hello'
greeting

'Hello'

In [7]:
greeting += ' world!'
greeting

'Hello world!'

In [8]:
number = 1
number += 1
number

2

### Concatenation and Replication

Examples:

String concatenation:

In [9]:
'Alice' 'Bob'

'AliceBob'

String replication:

In [10]:
'Alice' * 5

'AliceAliceAliceAliceAlice'

### Variables

Examples:

You can name a variable anything as long as it obeys the following rules:

1. It can be only one word.

In [11]:
my variable = 'Hello'

SyntaxError: invalid syntax (55488935.py, line 1)

2. It can use only letters, numbers, and the underscore (_) character.

In [13]:
my_variable = 'Hello'
my_variable

'Hello'

3. It can’t begin with a number.

In [14]:
23_var = 'hello'

SyntaxError: invalid decimal literal (938489622.py, line 1)

4. Variable name starting with an underscore (_) are considered as “unuseful”.

In [15]:
_23_var = 'Hello'
_23_var

'Hello'

### Comments

Examples:

Inline comment:

In [16]:
# Comment start with hastag #

Multiline comment:

In [18]:
# This is a
# multiline comment

Code with a comment:

**Please note the two spaces in front of the comment.**

In [19]:
a = 1  # initialization

Function docstring:

In [17]:
def foo():                               
    """
    This is a function docstring
    You can also use:
    ''' Function Docstring '''
    """

### The print() Function

Examples:

The print() function writes the value of the argument(s) it is given. […] it handles multiple arguments, floating point-quantities, and strings. Strings are printed without quotes, and a space is inserted between items, so you can format things nicely:

In [21]:
print('Hello world!')

Hello world!

In [22]:
a = 1
print('Hello world!', a)

Hello world! 1

For Jupyter Notebook

In [23]:
a = 1
a

1

### The sep keyword

Examples:

The keyword sep specify how to separate the objects, if there is more than one:

In [24]:
print('cats', 'dogs', 'mice', sep=',')

cats,dogs,mice

### The input() Function

Examples:

This function takes the input from the user and converts it into a string:

In [28]:
print('What is your name?')   # ask for their name
my_name = input() # Write the name in Terminal Side
print('Hi, {}'.format(my_name))

What is your name?
Hi, John

input() can also set a default message without using print():

In [29]:
my_name = input('What is your name? ')  # default message
print('Hi, {}'.format(my_name))

Hi, John

It is also possible to use formatted strings to avoid using .format:

In [31]:
my_name = input('What is your name? ')  # default message
print(f'Hi, {my_name}') # More Useful then .format

Hi, John

### The len() Function

Examples:

Evaluates to the integer value of the number of characters in a string, list, dictionary, etc.:

**!! Test of emptiness of strings, lists, dictionaries, etc., should not use len, but prefer direct boolean evaluation.**

In [32]:
len('Poland')

6

In [34]:
len(['Paris', 5, 'Plane'])

3

### The str(), int(), and float() Functions

Examples:

These functions allow you to change the type of variable. For example, you can transform from an integer or float to a string:

In [37]:
str(29)

'29'

In [38]:
str(-3.14)

'-3.14'

Or from a string to an integer or float:

In [39]:
int('11')

11

In [40]:
float('3.14')

3.14