### Comparison Operators

Examples:

In [1]:
42 == 42  # Equal to

True

In [2]:
40 == 42

False

In [3]:
40 != 42  # Not equal to

True

In [4]:
'hello' == 'hello'

True

In [5]:
'hello' == 'Hello'

False

In [6]:
42 == 42.0

True

In [7]:
42 == '42'

False

In [8]:
42 > 45

False

In [9]:
42 >= 42

True

In [10]:
42 < 45

True

In [11]:
45 <= 45

True

These operators evaluate to True or False depending on the values you give them.

### Boolean Operators

Examples:

There are three Boolean operators: and, or, and not. In the order of precedence, highest to lowest they are not, and and or.

In [12]:
(4 < 5) and (5 < 6)

True

In [13]:
(4 < 5) and (9 < 6)

False

In [14]:
(1 == 2) or (2 == 2)

True

In [15]:
(1 != 2) and not (2 == 5)

True

Also, you can mix use multiple Boolean operators in an expression, along with the comparison operators:

In [16]:
2 + 2 == 4 and not 2 + 2 == 5 and 2 * 2 == 2 + 2

True

In [17]:
5 > 4 or 3 < 4 and 5 > 5

True

In [18]:
(5 > 4 or 3 < 4) and 5 > 5

False

### If Statements

Examples:

In [19]:
name = 'Alice'

if name == 'Alice':
    print(f'Hi, {name}')

Hi, Alice

In [20]:
if name != 'Mike':              # Name is still inside of code. So, it works outer inside of the code area
    print('You are not Mike')

You are not Mike

The else statement executes only if the evaluation of the if and all the elif expressions are False:

In [21]:
name = 'Alice'

if name != 'Alice':
    print(f'Hi, {name}')
else:              
    print('You are not Mike')

You are not Mike

Only after the if statement expression is False, the elif statement is evaluated and executed:

In [22]:
name = 'Alice'

if name == 'Tom':
    print('Hi, Tom!')
elif name == 'Alice':              
    print(f'Hi, {name}')

Hi, Alice

In [23]:
name = 'Alice'

if name == 'Tom':
    print('Hi, Tom!')

elif name == 'Steven':              
    print('Hi, Steven')

elif name == 'Alice':
    print(f'Hi, {name}')

Hi, Alice

the elif and else parts are optional.

In [24]:
name = 'Alice'

if name == 'Tom':
    print('Hi, Tom!')

elif name != 'Alice':              
    print(f'Hi, {name}')

else:
    print("Hi, Betty")

Hi, Betty

### Ternary Conditional Operator

Many programming languages have a ternary operator, which define a conditional expression. The most common usage is to make a terse, simple conditional assignment statement. In other words, it offers one-line code to evaluate the first expression if the condition is true, and otherwise it evaluates the second expression.

Examples:

In [25]:
age = 24

if age < 18:
    print('kid')
else:
    print('adult')

adult

is equivalent to this ternary operator:

In [26]:
print('kid' if age < 18 else 'adult')  # For the job interviews need this skill and clean code

adult

Ternary operators can be chained:

In [27]:
age_2 = 17

print('kid' if age_2 < 13 else 'teen' if age_2 < 18 else 'adult')

# is equivalent to this if statement:
print("....................")

if age_2 < 18:
    if age_2 < 13:
        print('kid')
    else:
        print('teen')
else:
    print('adult')

teen
....................
teen

### While Loop Statements

Examples:

The while statement is used for repeated execution as long as an expression is True:

In [28]:
spam = 0

while spam < 4:
    print('Hello')
    spam = spam + 1

Hello
Hello
Hello
Hello

- break Statements

If the execution reaches a break statement, it immediately exits the while loopâ€™s clause:

In [32]:
while True:
    name = input('Please type your name: ')
    if name == "Wick":
        break

print(f'Thank you! {name}')

Thank you! Wick

- continue Statements

In [33]:
while True:
    name = input('Who are you? ')
    if name != 'Dobby':
        continue
    password = input('Password? (It is a Harry): ')
    if password == '12345':
        break

print(f'Access granted {name}')

Access granted Dobby

### For loop

Examples:

The for loop iterates over a list, tuple, dictionary, set or string:

In [34]:
Citys = ['Warsaw', 'Ankara', 'Paris']

for city in Citys:
    print(city)

Warsaw
Ankara
Paris

In [35]:
for x in "banana":
  print(x)

b
a
n
a
n
a

* For else statement

In [36]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [37]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

### The range() function

Examples:

The range() function returns a sequence of numbers. It starts from 0, increments by

1. and stops before a specified number:

In [38]:
for i in range(5):
    print(f'Will stop at 5! or 4? ({i})')

Will stop at 5! or 4? (0)
Will stop at 5! or 4? (1)
Will stop at 5! or 4? (2)
Will stop at 5! or 4? (3)
Will stop at 5! or 4? (4)

**Note that range(6) is not the values of 0 to 6, but the values 0 to 5.**

In [40]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The range() function can also modify its 3 defaults arguments. The first two will be the start and stop values, and the third will be the step argument. The step is the amount that the variable is increased by after each iteration.

In [39]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

You can even use a negative number for the step argument to make the for loop count down instead of up.

In [41]:
for i in range(5, -1, -1):
    print(i)

5
4
3
2
1
0