### Sets

Python comes equipped with several built-in data types to help us organize our data. These structures include lists, dictionaries, tuples and sets.

* Initializing a set

There are two ways to create sets: using curly braces {} and the built-in function set()

When creating set, be sure to not use empty curly braces {} or you will get an empty dictionary instead.

In [5]:
x = {1, 2, 3}

x = set([1, 2, 3])

x

{1, 2, 3}

In [6]:
x = {}  # this will create a dictionary instead of a set

type(x)

dict

* Unordered collections of unique elements

A set automatically remove all the duplicate values.

In [7]:
s = {1, 2, 3, 2, 3, 4}

s

{1, 2, 3, 4}

And as an unordered data type, they can’t be indexed.

In [10]:
s = {1, 2, 3}

# s[0]  Error

* set add() and update()

Using the add() method we can add a single element to the set.

In [11]:
y = {1, 2, 3}

y.add(4)

y

{1, 2, 3, 4}

And with update(), multiple ones:

In [12]:
y = {1, 2, 3}

y.update([2, 3, 4, 5, 6])

y

{1, 2, 3, 4, 5, 6}

* set remove() and discard()

Both methods will remove an element from the set, but remove() will raise a key error if the value doesn’t exist.

In [13]:
z = {1, 2, 3}

z.remove(3)

z

{1, 2}

discard() won’t raise any errors.

In [14]:
z = {1, 2, 3}

z.discard(3)

z

{1, 2}

* set union()

union() or | will create a new set with all the elements from the sets provided.

In [16]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

s1.union(s2)  # or 's1 | s2'

{1, 2, 3, 4, 5}

* set intersection

intersection or & will return a set with only the elements that are common to all of them.

In [17]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {3, 4, 5}

s1.intersection(s2, s3)  # or 's1 & s2 & s3'

{3}

* set difference

difference or - will return only the elements that are unique to the first set (invoked set).

In [18]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

s1.difference(s2)  # or 's1 - s2'

{1, 2}

In [20]:
s2.difference(s1) # or 's2 - s1'

{4, 5}

* set symetric_difference

symetric_difference or ^ will return all the elements that are not common between them.

In [21]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

s1.symmetric_difference(s2)  # or 's1 ^ s2'

{1, 4}